# Ignore Python bytecode files
*__pycache__/

# Ignore Python virtual environment directories
*venv/

# Ignore environment variables files
*.env
*.ropeproject
.DS_Store
g4f

# Ignore Docker dev files
/data

# Ignore PyCharm/VSCode configs
**.idea/
**.vscode/
