# Ignore venv dir
/venv/

# Ignore docs folder
/docs/

# Ignore env variables
.env

# Ignore pycache dir
/__pycache__/

# Add requirements
requirements.txt

# Ignore node js server node_modules
js-backend-server/server/node_modules/

*/__pycache__