[submodule "skill_forge_frontend"]
	path = skill_forge_frontend
  url = git@github.com:Skill-Forge-Project/skill_forge_frontend.git
[submodule "skill_forge_backend"]
  path = skill_forge_backend
  url = git@github.com:Skill-Forge-Project/skill_forge_backend.git
