# Ignore VSCode settings
.vscode/
# Ignore venv dir
/venv/
/skill_forge/

# Ignore docs folder
/docs/

# Ignore env variables
.env

# Ignore pycache dir
/__pycache__/
*/__pycache__/
**/__pycache__/**


# Ignore node modules files on the node js server
/js-backend-server/
/js-backend-server/server/node_modules/
js-backend-server/server/node_modules/

# Ignore Flask db migrations
/migrations/
manage.py

# Ignore the execution files on the server
*/java-files/
*/cs-files/

# Ignore node modules
/node_modules/

# Ignore mailtrap test-run
basic_email.py

# Ignore DOC.md
DOC.md