@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
@font-face {
    font-family: 'JetBrainsMonoRegular';
    src: url('/static/fonts/ttf/JetBrainsMono-Regular.ttf') format('woff');
    font-family: 'JetBrainsMonoBold';
    src: url('/static/fonts/ttf/JetBrainsMono-Bold.ttf') format('woff');
}

html, body {
    height: 100%;
    margin: 0;
    background: linear-gradient(180deg, rgba(10, 10, 20, 1) 10%, rgba(50, 0, 0, 1) 60%, rgba(100, 0, 0, 1) 120%);
    background-size: cover;
    background-attachment: fixed;
}

.underworld-title {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    font-size: 34px;
    color: #f93a33;
}

.underworld-description {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    font-size: 16px;
    color: #d2d0d0;
}

/* Boss styling */
.bosses-container {
    background: linear-gradient(180deg, rgba(30, 30, 40, 0.8), rgba(10, 10, 20, 0.7));
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    padding: 1.5rem;
}


.bosses-container:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.7);
}


.boss-name {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    font-size: 16px;
    color: #f93a33;
}

.boss-title {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    font-size: 14px;
    color: #d2d0d0;
}

.boss-descr {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    font-size: 14px;
    color: #d2d0d0;
    margin: 0px;
}

.boss-descr.challenge {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    font-size: 22px;
    color: #d2d0d0;
    margin: 0px;
}

.challenge-btn {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    font-size: 14px;
    color: #d2d0d0;
    background: rgba(100, 0, 0, 1);
    border: 1px solid #a51b16;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.challenge-btn:hover {
    background: #a51b16;
    color: #d2d0d0;
    text-decoration: none;
}

/* Boss Challenge Styling */

.user_response_title {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    font-size: 16px;
    color: #d2d0d0;
    margin-top: 0px;
}

.user_response {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    background: transparent;
    color: #d2d0d0;
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 20px;
    border: 0px;
    text-align: justify;
    width: 100%;
}

.user_response_code {
    display: flex;
    flex-direction: column;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px !important;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 20px;
}

.user_response_code .CodeMirror {
    /* border: 5px solid #eee; */
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
}

.CodeMirror-scroll {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
}

.CodeMirror.cm-s-dracula {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    /* height: 50%; */
}

.challenge-btn-submit {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    font-size: 14px;
    color: #d2d0d0;
    background: linear-gradient(180deg, rgba(30, 30, 40, 0.8), rgba(10, 10, 20, 0.7));
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.challenge-btn-submit:hover {
    box-shadow: 0 0 2px #ff0000ba,
        0 0 20px #ff0000ba,
        0 0 20px #ff0000ba,
        0 0 20px #ff0000ba;
}

/* Boss Challenge Evalution */
.boss-descr.challenge.eval {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    font-size: 16px;
    margin: 0px;
}

.text-red-500 {
    color: #f56565 !important; /* Red */
}

.text-yellow-500 {
    color: #ecc94b !important; /* Yellow */
}

.text-green-500 {
    color: #48bb78 !important; /* Green */
}

.text-blue-500 {
    color: #4299e1 !important; /* Blue */
}