@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
@font-face {
    font-family: 'JetBrainsMonoRegular';
    src: url('/static/fonts/ttf/JetBrainsMono-Regular.ttf') format('woff');
    font-family: 'JetBrainsMonoBold';
    src: url('/static/fonts/ttf/JetBrainsMono-Bold.ttf') format('woff');
}



html {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    background-size: cover;
    background-position: right bottom;
    background-color: #243b55;
}

body {
    flex-direction: column;
    font-family: 'JetBrainsMonoRegular', sans-serif;
    background: linear-gradient(#141e30, #243b55) !important;
    background-size: cover;
    background-position: repeat;
    align-items: center;
    justify-content: center;
}


.task-container {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    color: #d2d0d0;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-content: center !important;
    width: 90% !important;
    left: 5%;
    right: 5%;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    padding: 10px;
    margin-top: 50px !important;
    margin-bottom: 20px;
    
}

.first-row {
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, .5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.second-row {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background: rgba(0, 0, 0, .5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 10px;
    
}

.second-row p {
    margin-right: 15px;
}

.third-row {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, .5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.forth-row {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, .5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.input-row {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, .5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 20px;
}

.buttons-row {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, .5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.output-row {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, .5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 10px;
}


.submit-button {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    background-color: #141e30;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .6s;
    letter-spacing: 4px;
    margin: 10px;
    border: 0px;
    width: 250px;
    cursor: pointer;
}

.submit-button:hover {
    background: #03e9f4;
    color: #000;
    border-radius: 5px;
    box-shadow: 0 0 2px #03e9f4,
        0 0 20px #03e9f4,
        0 0 20px #03e9f4,
        0 0 20px #03e9f4;
}

.report-button {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    background-color: #141e30;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .6s;
    letter-spacing: 4px;
    margin: 10px;
    border: 0px;
    width: 250px;
    cursor: pointer;
}

.report-button:hover {
    background: #900303ba;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px #ff0000ba,
        0 0 20px #ff0000ba,
        0 0 20px #ff0000ba,
        0 0 20px #ff0000ba;
}

.input-row .CodeMirror {
    /* border: 5px solid #eee; */
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
}

.CodeMirror-scroll {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
}

.CodeMirror.cm-s-dracula {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    /* height: 50%; */
}

.test-results-label {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    color: #03e9f4;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-content: center !important;
    position: relative;
}

.tests-results-info {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-content: center !important;
    position: relative;
}

.tests-results-info.message {
    color: #d2d0d0;
}

.tests-results-info.possitive-results {
    color: #0bf403bd;
}

.tests-results-info.negative-results {
    color: #f73333bd;
}

.report-reason {
    display: flex;
    flex-direction: column;
    background: #282a36;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 20px;
    color: #d2d0d0;
    outline: none;
    height: 200px;
}


/* Comments Section styling */
form {
    font-family: 'JetBrainsMonoRegular', sans-serif;
}

.row {
    width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
}

.col-md-7 {
    width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;

}
.card {
    background: linear-gradient(#141e30, #243b55) !important;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6) !important;
    border-radius: 10px !important;
    width: 100% !important;
    /* background-color: #fff; */
    color: #d2d0d0;
    border: none;
}

.form-color {
    background: linear-gradient(#141e30) !important;
}
.mt-3.d-flex.flex-row.align-items-center.p-3.form-color {
    padding-top: 0px !important;
    margin-top: 0px !important;
}

.form-control {
    background: #243b55 !important;
    color: #d2d0d0 !important;
    width: 100% !important;
    height: 48px;
    border-radius: 25px;
}

.form-control:focus {
    color: #d2d0d0;
    background-color: #fff;
    border-color: #03e9f4;
    outline: 0;
    box-shadow: none;
}

.c-badge {
    background-color: #c90c0c;
    color: white;
    height: 20px;
    font-size: 11px;
    width: 100px !important;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px
}

.submit-button.submit-comment-btn {
    border-radius: 10px;
    width: 180px;
}
.comment-text {
    font-size: 13px
}

.user-feed {
    font-size: 14px;
    margin-top: 12px
}