@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
@font-face {
    font-family: 'JetBrainsMonoRegular';
    src: url('/static/fonts/ttf/JetBrainsMono-Regular.ttf') format('woff');
    font-family: 'JetBrainsMonoBold';
    src: url('/static/fonts/ttf/JetBrainsMono-Bold.ttf') format('woff');
}




html {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    justify-self: center;
    align-items: center;
}

body {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    color: #d2d0d0;
    margin: 0;
    padding: 0;
    background: linear-gradient(#141e30, #243b55);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.task-container {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    color: #d2d0d0;
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-content: center !important;
    width: 90% !important;
    left: 5%;
    right: 5%;
    position: relative;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    padding: 10px;
    margin-top: 50px !important;
    margin-bottom: 50px !important;

}


.quest-data-labels {
    color: #03e9f4;
    /* margin-left: 20px; */
    display: flex;
    flex-direction: row;
}

.input-row {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, .5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    
}


.row-label {
    font-size: 16px;
    margin-right: 15px;
    color: #03e9f4;
    vertical-align: middle;
}

.text_input {
    font-family: inherit;
    font-size: 16px;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #03e9f4;
    outline: 0;
    color: white;
    padding: 7px 0;
    background: transparent;
}

.dropdown_input {
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid #03e9f4;
    outline: 0;
    color: white;
    padding: 7px 0;
    background: transparent;
}

.quest_language_input_edit {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    margin-top: 5px;
    vertical-align: middle;

}

.buttons-row {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, .5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.output-row {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, .5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.input-row .CodeMirror {
    border: 5px solid #eee;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    padding: 0px;
}

.CodeMirror-scroll {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
}

.CodeMirror.cm-s-dracula {
    width: 100%;
    box-sizing: border-box;
    display: flex;
}


.btn-row {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

/* Approve Button Custom Style */
.submit-button.approve-btn {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    font-weight: bold;
    position: relative;
    display: inline-block;
    border-radius: 10px;
    padding: 10px 20px;
    color: #000;
    background-color: #00830b;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .6s;
    letter-spacing: 4px;
    margin: 10px;
    border: 0px;
    width: 250px;
}

.submit-button.approve-btn:hover {
    background: #00830b;
    color: #000;
    border-radius: 5px;
    box-shadow: 0 0 2px #0bf403bd,
        0 0 20px #0bf403bd,
        0 0 20px #0bf403bd,
        0 0 20px #0bf403bd;
}

/* Request Changes Button Custom Style */
.submit-button.request-changes-btn {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    font-weight: bold;
    position: relative;
    display: inline-block;
    border-radius: 10px;
    padding: 10px 20px;
    color: #000;
    background-color: #830000;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .6s;
    letter-spacing: 4px;
    margin: 10px;
    border: 0px;
    width: 250px;
}

.submit-button.request-changes-btn:hover {
    background: #830000;
    color: #000;
    border-radius: 5px;
    box-shadow: 0 0 2px #e9685fbd,
        0 0 20px #e9685fbd,
        0 0 20px #e9685fbd,
        0 0 20px #e9685fbd;
}


/* Submit Comment Button Custom Style */
.submit-comment-btn-area {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
}

.submit-button.submit-comment-btn {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    font-size: 8px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    border-radius: 10px;
    /* padding: 10px 20px; */
    color: #03e9f4;
    background-color: #141e30;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    /* transition: .6s; */
    letter-spacing: 4px;
    margin: 10px;
    border: 0px;
    width: 150px;
    height: 30px;
}

.submit-button.submit-comment-btn:hover {
    background: #03e9f4;
    color: #000;
    border-radius: 5px;
    box-shadow: 0 0 2px #03e9f4,
        0 0 20px #03e9f4,
        0 0 20px #03e9f4,
        0 0 20px #03e9f4;
}


/* Comments Section styling */
.row {

    width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
}

.col-md-7 {
    width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;

}
.card {
    background: linear-gradient(#141e30, #243b55) !important;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6) !important;
    border-radius: 10px !important;
    width: 100% !important;
    /* background-color: #fff; */
    color: #d2d0d0;
    border: none;
}

.form-color {
    background: linear-gradient(#141e30) !important;
}
.mt-3.d-flex.flex-row.align-items-center.p-3.form-color {
    padding-top: 0px !important;
    margin-top: 0px !important;
}

.form-control {
    background: #243b55 !important;
    color: #d2d0d0 !important;
    width: 100% !important;
    height: 48px;
    border-radius: 25px;
}

.form-control:focus {
    color: #d2d0d0;
    background-color: #fff;
    border-color: #03e9f4;
    outline: 0;
    box-shadow: none;
}

.c-badge {
    background-color: #35b69f;
    color: white;
    height: 20px;
    font-size: 11px;
    width: 100px !important;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px
}

.comment-text {
    font-size: 13px
}

.wish {
    color: #35b69f
}

.user-feed {
    font-size: 14px;
    margin-top: 12px
}