@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

@font-face {
    font-family: 'JetBrainsMonoRegular';
    src: url('/static/fonts/ttf/JetBrainsMono-Regular.ttf') format('woff');
}


.skill_forge_image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 50%;
    background: linear-gradient(#141e30, #243b55);
    cursor: pointer;
}

.skill_forge_image img {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    padding-right: 2px;

}

.navbar-brand {
    cursor: pointer;
    font-family: 'JetBrainsMonoRegular', sans-serif;
}

.navbar-nav {
    font-family: 'JetBrainsMonoRegular', sans-serif;
}

.nav-link {
    cursor: pointer;
}

.navbar-nav .nav-link {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    background: linear-gradient(#141e30, #243b55);
    color: #03e9f4;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
    vertical-align: middle;
}

.navbar .navbar-nav .nav-item .nav-link,
.navbar-light .navbar-nav .nav-link {
    color: #03e9f4 !important;
}

.navbar .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-link:hover {
    color: #141e30 !important;
    background: #03e9f4;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 10px #03e9f4,
                0 0 15px #03e9f4,
                0 0 30px #03e9f4;
}

.user_pane {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin-left: 960px;
}

.user_image {
    align-items: right;
    justify-content: right;
    margin-left: 10px;
    cursor: pointer;
}


.navbar-link.admin-btn {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    background: linear-gradient(#880000, #6a0400);
    color: #ffffff;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    width: 140px;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
}

.navbar-link.admin-btn:hover {
    border-radius: 5px;
    box-shadow: 0 0 2px #ff0000ba,
    0 0 20px #ff0000ba,
    0 0 20px #ff0000ba,
    0 0 20px #ff0000ba;
}