@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
@font-face {
    font-family: 'JetBrainsMonoRegular';
    src: url('/static/fonts/ttf/JetBrainsMono-Regular.ttf') format('woff');
}



html {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    height: auto;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
    min-height: 100vh;
    height: auto;
    justify-content: center;
    align-items: center;
}

.user_info {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 60px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 40px;
    width: 80%;
    height: auto;
    box-sizing: border-box;
    box-shadow: 0 25px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.left_pane {
    position: relative; 
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    align-items: center;
    width: 20%
    
}
.user_avatar {
    position: relative;
    display: flex;
    flex-direction: column;
    /* background-color: #ffffff; */
    border: 7px solid #03e8f43b;
    border-radius: 50%;
    overflow: hidden;
    font-family: 'JetBrainsMonoRegular', sans-serif;
    width: 200px;
    height: 200px;
    margin-top: 60px;
    box-sizing: border-box;
    box-shadow: 20px 20px 45px rgba(0, 0, 0, 0.5), inset 0 10px 15px #03e8f48b, inset 0 10px 20px #03e8f48b;
    background-size: cover;
    background-position: center;
}

.user_avatar img {
    width: 100%; /* Make the image fill the circular div */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any default spacing */
}

.user_name.ch_av_btn {
    position: relative;
    font-family: 'JetBrainsMonoRegular', sans-serif;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 20px;
    color: #03e9f4;
    background-color: #141e30;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 1px;
    margin: 10px;
    border: 0px;
    height: 35px;
    width: 75%;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.user_name {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    font-size: 20px;
    color: #03e9f4;
    text-align: center;
    margin-top: 10px;
    margin: 5px;
    /* margin-top: auto;  */
}


/* .change_avatar_form {
    display: flex;
    flex-direction: column;
    position: relative;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
    border-radius: 10px;
    width: 100%;
    height: 17%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: left;
    padding-top: 7px;
}

.change_avatar {
    padding-left: 20px;
} */



.right_pane {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
    align-items: center;
    width: 100%;
}

.user_details {
    position: relative;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    align-items: left;
    padding-top: 7px;
}

.user_stats {
    position: relative;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
    border-radius: 10px;
    width: auto;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    height: auto;
    vertical-align: middle;
    align-items: left;
}

.user_stats.sub_status {
    position: relative;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
    border-radius: 10px;
    width: auto;
    display: flex;
    flex-direction: row;
    margin-left: 60px;
    margin-right: 20px;
    /* margin-bottom: 10px; */
    align-items: left;
    /* padding-top: 7px; */
    height: auto;
}

.center_pane_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.center_pane {
    display: flex;
    flex-direction: column;
    /* margin-top: 20px; */
    margin-bottom: 5px;
    width: auto;
}

.left_stats {
    color: #03e9f4;
    display: flex;
    flex-direction: row;
    margin: 0 0 0 10px;
    width: auto;
    padding: 0px;
    margin-bottom: 0px;
    align-items: center;
    vertical-align: middle;
}

.left_status.h3 {
    color: #03e9f4;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 10px;
    width: auto;
    margin-bottom: 5px;
    vertical-align: middle;
}

.right_stats {
    display: flex;
    flex-direction: column;
    color: #d2d0d0;
    margin: 0 0 0 10px;
    width: auto;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-bottom: 0px;
    vertical-align: middle;
    align-items: center;
}

.right_stats_edit {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: 0px;
    color: #d2d0d0;
    margin-left: 10px;
    width: auto;
    outline: none;
    cursor: text;
    resize: none;
    height: 24px;
    padding: 0px;
    vertical-align: middle;
    align-items: center;
}

.right_stats_edit:hover {
    color: #d2d0d0;
    text-shadow: 5px 0px 20px #03e9f4;
}

.btn-section {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-right: 20px;
    justify-content: right;
}

.submit-buton {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    background: linear-gradient(#141e30, #243b55);
    color: #03e9f4;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
    border: 0px;
    vertical-align: middle;
    width: 150px;
}

.submit-buton:hover {
    color: #141e30 !important;
    background: #03e9f4;
    border-radius: 5px;
    box-shadow: 0 0 2px #03e9f4,
                0 0 5px #03e9f4,
                0 0 10px #03e9f4,
                0 0 15px #03e9f4;
}

.change-avatar-section {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-top: 20px;
    margin-right: 20px;
}

.ca-1 {
    padding: 0px;
    font-family: 'JetBrainsMonoRegular', sans-serif;
    color: #03e9f4;
    margin-bottom: 0px;
}

.ca-2 {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    color: #03e9f4;
    margin-left: 10px;
    margin-right: 5px;
    vertical-align: middle;
}

.ca-3 {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    color: #03e9f4 !important;
    margin-left: 10px;
    margin-right: 5px;
    vertical-align: middle;
}

.ca-4 {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    background: linear-gradient(#141e30, #243b55);
    color: #03e9f4;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 5px;
    margin-left: 5px;
    height: 40px;
    border: 0px;
    vertical-align: middle;
    width: auto;
}


.ca-4:hover {
    color: #141e30 !important;
    background: #03e9f4;
    border-radius: 5px;
    box-shadow: 0 0 2px #03e9f4,
                0 0 5px #03e9f4,
                0 0 10px #03e9f4,
                0 0 15px #03e9f4;
}