@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

@font-face {
    font-family: 'JetBrainsMonoRegular';
    src: url('/static/fonts/ttf/JetBrainsMono-Regular.ttf') format('woff');
    font-family: 'JetBrainsMonoBold';
    src: url('/static/fonts/ttf/JetBrainsMono-Bold.ttf') format('woff');
}

html {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    background-size: cover;
    background-position: right bottom;
    background-color: #243b55;
}

body {
    flex-direction: column;
    font-family: 'JetBrainsMonoRegular', sans-serif;
    background: linear-gradient(#141e30, #243b55) !important;
    background-size: cover;
    background-position: repeat;
    align-items: center;
    justify-content: center;
}

.user_info {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: 60px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 40px;
    width: 80%;
    /* height: auto; */
    box-sizing: border-box;
    box-shadow: 0 25px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.left_pane {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    align-items: center;
    width: 20%
}

.user_avatar {
    position: relative;
    display: flex;
    flex-direction: column;
    /* background-color: #ffffff; */
    border: 7px solid #03e8f43b;
    border-radius: 50%;
    overflow: hidden;
    font-family: 'JetBrainsMonoRegular', sans-serif;
    width: 200px;
    height: 200px;
    margin-top: 60px;
    box-sizing: border-box;
    box-shadow: 20px 20px 45px rgba(0, 0, 0, 0.5), inset 0 10px 15px #03e8f48b, inset 0 10px 20px #03e8f48b;
    background-size: cover;
    background-position: center;
}

.user_avatar img {
    width: 100%;
    /* Make the image fill the circular div */
    height: auto;
    /* Maintain aspect ratio */
    display: block;
    /* Remove any default spacing */
}

.social_links {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: 'JetBrainsMonoRegular', sans-serif;
    vertical-align: middle;
    color: #03e9f4;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 1px;
    margin-top: 10px;
    border: 0px;
    align-items: center;
    justify-content: center;
}

.social_links.title {
    margin-top: 10px;
}

.social_links.icons {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.user_name.ch_av_btn {
    position: relative;
    font-family: 'JetBrainsMonoRegular', sans-serif;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 20px;
    color: #03e9f4;
    background-color: #141e30;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 1px;
    margin: 10px;
    border: 0px;
    height: 35px;
    width: 75%;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.user_name {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    font-size: 20px;
    color: #03e9f4;
    text-align: center;
    margin-top: 10px;
    margin: 5px;
    /* margin-top: auto;  */
}


.right_pane {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
    align-items: center;
    width: 100%;
}

.user_details {
    position: relative;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    align-items: left;
    /* padding-top: 7px; */
}

.user_stats {
    position: relative;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
    border-radius: 10px;
    width: auto;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    height: auto;
    vertical-align: middle;
    align-items: left;
}

.user_stats.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust column width as needed */
    gap: 10px; /* Adjust gap between items as needed */

}

.user_stats.sub_status {
    position: relative;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
    border-radius: 10px;
    width: auto;
    display: flex;
    flex-direction: row;
    margin-left: 60px;
    margin-right: 20px;
    /* margin-bottom: 10px; */
    align-items: left;
    /* padding-top: 7px; */
    height: auto;
}

.center_pane_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.center_pane {
    display: flex;
    flex-direction: column;
    /* margin-top: 20px; */
    margin-bottom: 5px;
    width: auto;
}

.left_stats {
    color: #03e9f4;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 10px;
    width: auto;
    padding: 0px;
    margin-bottom: 0px;
    align-items: center;
    vertical-align: middle;
}

.left_status.h3 {
    color: #03e9f4;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 10px;
    width: auto;
    margin-bottom: 5px;
    vertical-align: middle;

}

.right_stats {
    display: flex;
    flex-direction: column;
    color: #d2d0d0;
    margin: 0 0 0 10px;
    width: auto;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-bottom: 0px;
    vertical-align: middle;
    align-items: center;
}

.right_stats_edit {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: 0px;
    color: #d2d0d0;
    margin-left: 10px;
    width: auto;
    outline: none;
    cursor: text;
    resize: none;
    height: 24px;
    padding: 0px;
    vertical-align: middle;
    align-items: center;
}

.right_stats_edit:hover {
    color: #d2d0d0;
    text-shadow: 5px 0px 20px #03e9f4;
}

.btn-section {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-right: 20px;
    justify-content: right;
}

.submit-buton {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    background: linear-gradient(#141e30, #243b55);
    color: #03e9f4;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
    border: 0px;
    vertical-align: middle;
    width: 150px;
}

.submit-buton:hover {
    color: #141e30 !important;
    background: #03e9f4;
    border-radius: 5px;
    box-shadow: 0 0 2px #03e9f4,
        0 0 5px #03e9f4,
        0 0 10px #03e9f4,
        0 0 15px #03e9f4;
}

.change-avatar-section {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-top: 20px;
    margin-right: 20px;
}

.ca-1 {
    padding: 0px;
    font-family: 'JetBrainsMonoRegular', sans-serif;
    color: #03e9f4;
    margin-bottom: 0px;
}

.ca-2 {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    color: #03e9f4;
    margin-left: 10px;
    margin-right: 5px;
    vertical-align: middle;
}

.ca-3 {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    color: #03e9f4 !important;
    margin-left: 10px;
    margin-right: 5px;
    vertical-align: middle;
}

.ca-4 {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    background: linear-gradient(#141e30, #243b55);
    color: #03e9f4;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 5px;
    margin-left: 5px;
    height: 40px;
    border: 0px;
    vertical-align: middle;
    width: auto;
}


.ca-4:hover {
    color: #141e30 !important;
    background: #03e9f4;
    border-radius: 5px;
    box-shadow: 0 0 2px #03e9f4,
        0 0 5px #03e9f4,
        0 0 10px #03e9f4,
        0 0 15px #03e9f4;
}


/* Achievments Styling */
.achv-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Adjust alignment as needed */
    padding: 10px;
    gap: 20px; /* Adjust gap between items as needed */
}

.achv {
    position: relative;
    display: inline-block;
    width: 130px;
    height: 130px;
    font-size: 14px;
    color: #fff;
    background: none;
    border: 10px solid;
    border-radius: 100%;
    /* Adjusted border-radius for square effect */
    position: relative;
    transition: .3s;
    cursor: pointer;
}

.achv-descr {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    position: absolute;
    padding: 5px;
    top: 105%; /* Position below the achievement */
    width: 100%;
    background-color: rgba(0, 0, 0, 1.7);
    border-radius: 10px;
    color: #03e9f4;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;
}

.achv:hover .achv-descr {
    opacity: 1; /* Show on hover */
}

.achv:before {
    content: "";
    position: absolute;
    inset: -8px;
    padding: 10px;
    border-radius: 50%;
    background: conic-gradient(#03e9f4,
            #243b55 30deg 120deg,
            #03e9f4 150deg 180deg,
            #243b55 210deg 300deg,
            #03e9f4 330deg);
    -webkit-mask:
        linear-gradient(#000 0 0) content-box,
        linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: intersect
}


/* .achv:after {
    content: "";
    position: absolute;
    inset: -100px;
    background:
        radial-gradient(200px at left 400px top 10px, #ff53bb 100%, #0000),
        radial-gradient(200px at right 400px bottom 10px, #00f8d3 100%, #0000);
    filter: blur(120px);
    opacity: .5;
} */

.achv:before,
.achv:after {
    transition: .5s, 99999s 99999s transform;
}

.achv:hover {
    box-shadow: 0 0 0 1px #666;
    
}

.achv:hover:before,
.achv:hover:after {
    transform: rotate(36000deg);
    transition: .5s, 600s linear transform;
}

.achv:before {
    background-color: #222;
    border: 2px solid #333;
}

.achv {
    margin: 0;
    min-height: 10vh;
    display: grid;
    place-content: center;
    grid-auto-flow: column;
    background-color: #111;
}

.achv>img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 100%;
}