<!DOCTYPE html>

<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/anvil.png') }}">
    <title>Skill Forge - Guilds List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.22.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/guilds/guilds_list.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">

    <!-- Bootstrap Data Table -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

</head>

<body>
    <!-- Include Navbar template -->
    {% include 'navbar.html' %}

    <div class="container mx-auto px-4 py-8">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="card rounded shadow border-0">
                        <div class="card-body p-5 bg-white rounded">
                            <div class="table-responsive">
                                <table id="guilds_list" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Guild Name</th>
                                            <th>Guild Master</th>
                                            <th>Guild Level</th>
                                            <th>Guild Points</th>
                                            <th>Dungeons Completed</th>
                                            <th>Members</th>
                                            <th>Join</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for guild in guilds %}
                                        <tr>
                                            <td>{{ guild.guild_name }}</td>
                                            <td>{{ guild.guild_master.username }}</td>
                                            <td>{{ guild.level }}</td>
                                            <td>{{ guild.points }}</td>
                                            <td>{{ guild.dungeons_completed }}</td>
                                            <td>{{ guild.guild_members_count }}</td>
                                            <td>JOIN</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer style="bottom: 100%;">
        <!-- Include Footer template -->
        {% include 'footer.html' %}
    </footer>
    <!-- JavaScript managing the content in the Bootstrap table -->
    <script src="{{ url_for('static', filename='js/questsTable.js') }}"></script>


</body>