<!DOCTYPE html>

<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/anvil.png') }}">
    <title>Skill Forge - Guilds List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/guilds/guilds_list.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">

</head>

<body>
    <!-- Include Navbar template -->
    {% include 'navbar.html' %}

    <!-- Main Container -->
    <div class="container mx-auto px-4 py-8">
        <h1 class="text-4xl font-extrabold text-center text-teal-400 mb-8 txt-1">Join Guild</h1>

        <div class="row">
            <!-- Example Guild Card -->
            {% for guild in guilds %}
            <div class="col-md-4 mb-4">
                <div class="card shadow-lg rounded-lg overflow-hidden">
                    <img src="{{ url_for('guilds.get_guild_avatar', guild_id=guild.guild_id) }}" class="card-img-top" alt="{{ guild.guild_name }}">
                    <div class="card-body bg-gray-800 text-white">
                        <h5 class="card-title text-xl font-semibold">{{ guild.guild_name }}</h5>
                        <p class="card-text">{{ guild.description }}</p>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <!-- Footer -->
    <footer style="bottom: 100%;">
        <!-- Include Footer template -->
        {% include 'footer.html' %}
    </footer>
</body>