/* Custom Navbar classes */

.navbar_bg {
    /* background: linear-gradient(90deg, #141e30 20%, #243b55 40%); */
    background: linear-gradient(90deg, #243b55 10%, #141e30 40%);
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.avatar_border {
    border-radius: 50%;
    border: 2px solid var(--color-accent);
}

.avatar_border:hover {
    border-radius: 50%;
    border: 2px solid var(--color-accent);
    box-shadow: 0 0 5px var(--color-accent), 
                0 0 25px var(--color-accent), 
                0 0 50px var(--color-accent);
}