@font-face {
    font-family: 'JetBrainsMonoRegular';
    src: url('/static/fonts/ttf/JetBrainsMono-Regular.ttf') format('woff');
    font-family: 'JetBrainsMonoBold';
    src: url('/static/fonts/ttf/JetBrainsMono-Bold.ttf') format('woff');
}


html {
    font-family: 'JetBrainsMonoRegular', sans-serif;
}

body {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(#141e30, #243b55) !important;
    align-items: center;
    justify-content: center;
}

.container {
    font-family: 'JetBrainsMonoRegular', 'sans-serif';
    margin-top: 5%;
    margin-bottom: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
    width: 100%;
    height: 50%;

}

.box {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, .5);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    justify-content: left;
    align-items: left;
    border-radius: 10px;
    font-size: 2rem;
}

.box.title {
    background: none;
    box-shadow: none;
    font-size: 24px;
    color: #03e9f4;
    margin-top: 2%;
    margin-left: 2%;
}

.box.content {
    font-size: 16px;
    text-align: justify;
    color: #d2d0d0;
    margin: 2%;
    box-shadow: none;
    background: none;
}

.box.point {
    background: none;
    box-shadow: none;
    font-size: 16px;
    text-align:justify;
    color: #d2d0d0;
    margin: 2%;

}