@font-face {
    font-family: 'JetBrainsMonoRegular';
    src: url('/static/fonts/ttf/JetBrainsMono-Regular.ttf') format('woff');
    font-family: 'JetBrainsMonoBold';
    src: url('/static/fonts/ttf/JetBrainsMono-Bold.ttf') format('woff');
}


html {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    background-size: cover;
    background-position: right bottom;
    background-color: #243b55;
}

body {
    flex-direction: column;
    font-family: 'JetBrainsMonoRegular', sans-serif;
    background: linear-gradient(#141e30, #243b55) !important;
    background-size: cover;
    background-position: repeat;
    align-items: center;
    justify-content: center;
}

.description-container {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: linear-gradient(#141e30, #243b55);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
}
.description-image {
    max-width: 250px;
    margin-right: 20px;
}
.description-text {
    color: #d2d0d0;
}
.description-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #03e9f4;
}
.description-text p {
    font-size: 18px;
    line-height: 1.5;
}

.contact-form{
    align-items: center;
    background: rgba(0, 0, 0, .5);
    margin-top: 5%;
    margin-bottom: 5%;
    width: 70%;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    display: inline-block; 
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0%;

}

.contact-image img{
    border-radius: 6rem;
    width: 400px;
    height: 450px;
    margin-top: 50px;
    margin-bottom: 0px;
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-top: 0%;
    margin-bottom: 8%;
    margin-top: -150px;
    text-align: center;
    color: #03e9f4;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}