@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
@font-face {
    font-family: 'JetBrainsMonoRegular';
    src: url('/static/fonts/ttf/JetBrainsMono-Regular.ttf') format('woff');
    font-family: 'JetBrainsMonoBold';
    src: url('/static/fonts/ttf/JetBrainsMono-Bold.ttf') format('woff');
}

.footer {
    background: transparent !important;
}

.footer-section {
    @apply bg-white rounded-lg shadow m-4;
    position: relative;
    background: transparent !important;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin: 0px;
    margin-top: 50px !important;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 9999; /* Stays on top on other elements */
}

.footer-info {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    color: #d2d0d0;
    background: transparent !important;
    font-size: 14px;
    text-align: center;
    margin: 2px;
    padding: 0px;
}