@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

@font-face {
    font-family: 'JetBrainsMonoRegular';
    src: url('../fonts/ttf/JetBrainsMono-Regular.ttf') format('woff');
}

@font-face {
    font-family: 'JetBrainsMonoBold';
    src: url('../fonts/ttf/JetBrainsMono-Bold.ttf') format('woff');
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#141e30, #243b55) !important;
    line-height: 0;
}

.alert {
    margin-top: 5px;
    padding: 10px;
}

.alert-success {
    color: #4CAF50;
}

.alert-error {
    color: #f44336;
}

.alert-info {
    color: #2196F3;
}

.login_form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero_avatar {
    margin-right: 0px;
    /* Adjust margin as needed */
}

.sign-in-label {
    font-family: 'JetBrainsMonoBold', sans-serif !important;
    font-size: 28px;
    margin: 0 0 30px;
    padding: 0;
    color: #03e9f4;
    text-align: center;
}

.container {
    max-width: 100%
}

.login-box {
    display: flex;
    flex-direction: column;
    font-family: 'JetBrainsMonoRegular', sans-serif !important;
    color: #03e9f4;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    /* margin-bottom: 20px; */
}




.login-box p {
    margin-top: 20px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.user-box {
    position: relative;
    margin-bottom: 20px;
    /* Adjust margin as needed */
}

.user-box input {
    /* Keep existing styles */
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #d2d0d0;
    border: none;
    border-bottom: 1px solid #03e9f4;
    outline: none !important;
    background: transparent !important;

    /* Adjusted autofill styles */
    -webkit-text-fill-color: #d2d0d0; /* Text color */
    -webkit-box-shadow: 0 0 0 30px linear-gradient(#141e30, #243b55) inset; /* Background color */
}


.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.user-box h3 {
    font-family: 'JetBrainsMonoBold', sans-serif !important;
    font-size: 16px;
    color: #f44703;
    margin-top: 0;
    margin-bottom: 10px;

}
.user-box input:focus~label,
.user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.btn {
    font-family: 'JetBrainsMonoBold', sans-serif !important;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    background-color: #141e30;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 30px;
    letter-spacing: 4px;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
}

.btn:hover {
    background: #03e9f4;
    color: #fff;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}

.btn span {
    position: absolute;
    display: block;
}

.btn span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.btn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.btn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s;
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.btn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

.frg-pass {
    font-family: 'JetBrainsMonoBold', sans-serif;
    color: #f44703;
    font-size: 14px;
    text-align: left;
    margin-top: 5px;
    text-decoration: none;
    display: block;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px rgba(0, 0, 0, 0.8) inset !important;
    -webkit-text-fill-color: #03e9f4 !important;
}