@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
@font-face {
    font-family: 'JetBrainsMonoRegular';
    src: url('/static/fonts/ttf/JetBrainsMono-Regular.ttf') format('woff');
    font-family: 'JetBrainsMonoBold';
    src: url('/static/fonts/ttf/JetBrainsMono-Bold.ttf') format('woff');
}


html {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    background-size: cover;
    background-position: right bottom;
    background-color: #243b55;
}

body {
    flex-direction: column;
    font-family: 'JetBrainsMonoRegular', sans-serif;
    background: linear-gradient(#141e30, #243b55) !important;

}

.alert {
    margin-top: 5px;
    padding: 10px;
}

.alert-success {
    color: #4CAF50;
}

.alert-error {
    color: #f44336;
}

.alert-info {
    color: #2196F3;
}

.description-text {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    font-size: 24px !important;
    color: #03e9f4;
}


/* Custom styles for the medals */
.medal {
    width: 120px;
    height: 120px;
    display: flex;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    text-shadow: 1px 1px 2px black;
}

.medal img {
    object-fit: contain;
}

/* User profile styling */
.user-profile {
    /* position: absolute; */
    /* bottom: -50px; */
    right: -100px;
    /* padding: 10px; */
    border-radius: 10px;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    font-size: 14px;
}
.user-profile img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid #03e9f4;
}
.user-profile h3 {
    margin: 0;
    font-size: 16px;
}

.user-profile .info {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    font-style: normal;
    display: inline;
    text-align: center;
}

.user-profile .infot {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    font-style: normal;
    display: inline;
    width: 20%;
}

.user-profile.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid #03e9f4;
}

.ranklist.username {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    font-size: 16px;
    color: #03e9f4;
    text-decoration: none;
}

.box {
    font-family: 'JetBrainsMonoRegular', sans-serif !important;
    background: rgba(0, 0, 0, 0.5) !important;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease !important;

}