@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
@font-face {
    font-family: 'JetBrainsMonoRegular';
    src: url('/static/fonts/ttf/JetBrainsMono-Regular.ttf') format('woff');
    font-family: 'JetBrainsMonoBold';
    src: url('/static/fonts/ttf/JetBrainsMono-Bold.ttf') format('woff');
}


html {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    background-size: cover;
    background-position: right bottom;
    background-color: #243b55;
}

body {
    flex-direction: column;
    font-family: 'JetBrainsMonoRegular', sans-serif;
    background: linear-gradient(#141e30, #243b55) !important;

}

.alert {
    margin-top: 5px;
    padding: 10px;
}

.alert-success {
    color: #4CAF50;
}

.alert-error {
    color: #f44336;
}

.alert-info {
    color: #2196F3;
}

.description-text {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    font-size: 24px !important;
    color: #03e9f4;
}


/* Custom styles for the medals */
.medal {
    width: 170px;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 1px 1px 2px black;
}

.medal img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* User profile styling */
.user-profile {
    position: absolute;
    bottom: -50px;
    right: -100px;
    /* padding: 10px; */
    border-radius: 10px;
    color: white;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    font-size: 14px;
}
.user-profile img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid #03e9f4;
}
.user-profile h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}
.user-profile .info {
    margin-top: 5px;
    text-align: center;
}

.ranklist.username {
    color: #03e9f4;
    text-decoration: none;
}