@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

@font-face {
    font-family: 'JetBrainsMonoRegular';
    src: url('/static/fonts/ttf/JetBrainsMono-Regular.ttf') format('woff');
    font-family: 'JetBrainsMonoBold';
    src: url('/static/fonts/ttf/JetBrainsMono-Bold.ttf') format('woff');
}

html {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    background-size: cover;
    background-position: right bottom;
    background-color: #243b55;
}

body {
    flex-direction: column;
    font-family: 'JetBrainsMonoRegular', sans-serif;
    background: linear-gradient(#141e30, #243b55) !important;
    background-size: cover;
    background-position: repeat;
    align-items: center;
    justify-content: center;
}

.alert {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    font-family: 'JetBrainsMonoRegular', sans-serif;
    font-size: 16px;
}

.alert-success {
    color: #4CAF50;
}

.alert-error {
    color: #f44336;
}

.alert-info {
    color: #2196F3;
}

.user_profile_info {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    color: #d2d0d0;
    border-radius: 20px !important;
}

.user_profile_info.left_pane {
    background: rgba(0, 0, 0, 0.5) !important;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .4) !important;
}


.user_profile_info.username {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    color: #03e9f4;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 2px;
}

.user_profile_info.name {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    color: #d2d0d0;
    font-size: 12px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}

.user_profile_info.rank {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    color: #d2d0d0;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
}


.user_profile_info.level {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    color: #d2d0d0;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 0px;
}

.user_profile_info.xp_points {
    background: linear-gradient(90deg, #03858b, #03e9f4);
}


.user_profile_info.title {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    color: #03e9f4;
}

.user_profile_info.about_me_text {
    font-size: 14px;
    color: #d2d0d0;
}

.user_profile_info.input_field {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    background: linear-gradient(#141e304b, #243b5548);
    color: #d2d0d0;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 40px;
    border: 0px;
    vertical-align: middle;
}
.user_profile_info.about_me_field {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    background: linear-gradient(#141e304b, #243b5548);
    color: #d2d0d0;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 0px;
    text-align: justify;
}

.guild_master_field {
    color: #2f85e0 !important;
}


.achievement_descr {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    color: #03e9f4;
    font-size: 12px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.user_avatar {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 7px solid rgba(3, 232, 244, 0.23);
    border-radius: 50%;
    overflow: hidden;
    font-family: 'JetBrainsMonoRegular', sans-serif;
    box-sizing: border-box;
    box-shadow: 
        20px 20px 45px rgba(0, 0, 0, 0.5), 
        inset 0 5px 10px rgba(255, 255, 255, 0.2), 
        inset 0 -5px 15px rgba(0, 0, 0, 0.3);
    background-size: cover;
    background-position: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.user_avatar:hover {
    box-shadow: 
        15px 15px 30px #03e9f4, 
        inset 0 5px 15px rgba(255, 255, 255, 0.3), 
        inset 0 -5px 20px rgba(0, 0, 0, 0.5);
}


.online_status {
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    color: #35a202;
    margin-top: 10px;
    width: 100%;
}

.online_status.title {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.online_status.title.offline {
    text-align: center;
    color: #f44703;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}


.left_stats {
    color: #03e9f4;
    width: 100%;
    padding: 0px;
    text-align: left;
    vertical-align: middle;
    margin: 4px;
}


.right_stats {
    color: #d2d0d0;
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: right;
    vertical-align: middle;
}

.ca-1 {
    padding: 0px;
    font-family: 'JetBrainsMonoRegular', sans-serif;
    color: #03e9f4;
    margin-bottom: 0px;
}

.ca-2 {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    color: #03e9f4;
    margin-left: 10px;
    margin-right: 5px;
    vertical-align: middle;
}

.ca-3 {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    color: #03e9f4 !important;
    margin-left: 10px;
    margin-right: 5px;
    vertical-align: middle;
}


.ca-3::-webkit-file-upload-button {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    border-radius: 5px;
    background: linear-gradient(#141e30, #243b55);
    color: #03e9f4;

}

.ca-4 {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    background: linear-gradient(#141e30, #243b55);
    color: #03e9f4;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 5px;
    margin-left: 5px;
    padding: 5px;
    height: 40px;
    border: 0px;
    vertical-align: middle;
    width: auto;
}

.ca-4:hover {
    color: #141e30 !important;
    background: #03e9f4;
    border-radius: 5px;
    box-shadow: 0 0 2px #03e9f4,
        0 0 5px #03e9f4,
        0 0 10px #03e9f4,
        0 0 15px #03e9f4;
}


.labels {
    color: #d2d0d0;
    /* margin-left: 20px; */
    display: flex;
    flex-direction: row;
}


.labels.Approved {
    color: #0bf403bd !important;
}

.labels.Rejected {
    color: #f73333f3 !important;
}

.labels.Pending {
    color: #f79a04 !important;
}

.btn-section {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-right: 20px;
    justify-content: right;
}

.change-avatar-section {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-top: 20px;
    margin-right: 20px;
}




.members_section .member_img {
    align-self: center;
}

.members_section .member_info_container {
    align-self: center;
    margin: 0;
    display: flex;
}

.members_section .member_info_container p {
    margin: 0;
    margin-left: 2em;
}

.members_section .member_info_container p span {
    color: #bccfeb;
}

.members_section .right-section {
    padding: 0;
    display: flex;
    align-self: center;
}

.members_section .right-section .delete_member_btn {
    background-color: rgb(190, 0, 0);
    border-radius: 50%;
    height: 2em;
    width: 2em;
}