@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
@font-face {
    font-family: 'JetBrainsMonoRegular';
    src: url('/static/fonts/ttf/JetBrainsMono-Regular.ttf') format('woff');
}



html {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    height: 100%;
}

body {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}

.info {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    font-size: 12px;
    color: #ffffff;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clear: both;
    position: absolute;
    margin-top: 250px;
}

.button-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.login-box {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 50px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;

}


.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box p {
    margin-top: 20px;
    padding: 0px;
    color: #fff;
    text-align: center;
}

.login-box a {
    margin: auto;
    text-decoration: none;
}

.login-box a:hover {
    color: #fff;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}


.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.login-box .btn {
    position: relative;
    font-family: 'JetBrainsMonoRegular', sans-serif;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    background-color: #141e30;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 0px;
    letter-spacing: 2px;
    margin: 10px;
    border: 0px;
    width: 300px;
}


/* Python button styles */
.login-box .btn.python-btn {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    justify-content: center;
    text-align: center;
}

.login-box .btn.python-btn:hover {
    background: #ffde57; /* Unique color for Python button hover */
    color: #4584b6;
    border-radius: 5px;
    box-shadow: 0 0 5px #4584b6,
                0 0 25px #4584b6,
                0 0 50px #4584b6,
                0 0 100px #4584b6;
}


/* Java button styles */
.login-box .btn.java-btn {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    justify-content: center;
    text-align: center;
}

.login-box .btn.java-btn:hover {
    background: #f89820; /* Unique color for Java button hover */
    color: #5382a1;
    border-radius: 5px;
    box-shadow: 0 0 5px #5382a1,
                0 0 25px #5382a1,
                0 0 50px #5382a1,
                0 0 100px #5382a1;
}

.user-box .btn .java-btn span:nth-child(1) {
    background: linear-gradient(90deg, transparent, #4caf50); /* Unique color for Java button animation */
}

/* JavaScript button styles */
.login-box .btn.js-btn {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    justify-content: center;
    text-align: center;
}

.login-box .btn.js-btn:hover {
    background: #f0db4f; /* Unique color for JavaScript button hover */
    color: #000000;
    border-radius: 5px;
    box-shadow: 0 0 5px #f0db4f,
                0 0 25px #000000,
                0 0 50px #f0db4f,
                0 0 100px #000000;
}

.js-btn span:nth-child(1) {
    background: linear-gradient(90deg, transparent, #2196f3); /* Unique color for JavaScript button animation */
}

/* C# button styles */
.login-box .btn.csharp-btn {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    justify-content: center;
    text-align: center;
    
}

.login-box .btn.csharp-btn:hover {
    background: #9b4993; /* Unique color for C# button hover */
    color: #682876;
    border-radius: 5px;
    box-shadow: 0 0 5px #682876,
                0 0 25px #682876,
                0 0 50px #682876,
                0 0 100px #682876;
}


/* .login-box .btn:hover {
    background: #ffde57;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #ffde57,
        0 0 25px #4584b6,
        0 0 50px #ffde57,
        0 0 100px #4584b6;
} */

.login-box .btn span {
    position: absolute;
    display: block;
}

.login-box .btn span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent);
    animation: btn-anim1 1s linear infinite;
}


@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.login-box .btn span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.login-box .btn span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.login-box .btn span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

.user_section {
    justify-content: right;
}

.user_section .user_profile {
    justify-content: right;
    cursor: pointer;
}