@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

@font-face {
    font-family: 'JetBrainsMonoRegular';
    src: url('/static/fonts/ttf/JetBrainsMono-Regular.ttf') format('woff');
}

.navbar-nav {
    font-family: 'JetBrainsMonoRegular', sans-serif;
}

.navbar-nav .nav-link {
    font-family: 'JetBrainsMonoRegular', sans-serif;
    background: linear-gradient(#141e30, #243b55);
    color: #03e9f4;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: #03e9f4;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #d2d0d0; /* Change the color to red when active or hovered */
    background: #4584b6; /* Unique color for Python button hover */
    /* color: #4584b6; */
    border-radius: 5px;
    box-shadow: 0 0 5px #4584b6,
                0 0 25px #4584b6,
                0 0 50px #4584b6,
                0 0 100px #4584b6;
}
