@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600&display=swap');

body {
    font-family: 'Inconsolata', monospace;
}

.main_title_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.main_title {
    font-family: 'Inconsolata', monospace;
    margin: 15px;
}

