<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Tasks</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/curr_task_template.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
    <!-- Include CodeMirror library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"></script>
    <!-- Include CodeMirror theme (optional) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/dracula.min.css">
    <!-- Include CodeMirror CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.css">
    <!-- Include CodeMirror mode (e.g., Python) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/clike/clike.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- JavaScript managing the Markdown support -->
    <script type="module" src="{{ url_for('static', filename='js/markdownSupport.js') }}"></script>
    <!-- Markdown showdown library -->
    <script src="https://cdn.jsdelivr.net/npm/showdown/dist/showdown.min.js"></script>


</head>

<body>
    <!-- Include Navbar template -->
    {% include 'navbar.html' %}

    <div class="task-container">
        <div class="first-row">
            <h4><strong style="color: #03e9f4">Quest: </strong> {{ quest.quest_name }}</h4>
        </div>
        <div class="second-row">
            <p><strong style="color: #03e9f4">Language: </strong> {{ quest.language }}</p>
            <p><strong style="color: #03e9f4">Difficulty: </strong> {{ quest.difficulty }}</p>
            <p><strong style="color: #03e9f4">XP: </strong> {{ quest.xp }}</p>
            <p><strong style="color: #03e9f4">Author: </strong><a
                    href="{{ url_for('open_user_profile_view', username=quest.quest_author) }}">{{ quest.quest_author
                    }}</a></p>

        </div>
        <div class="third-row">
            <p><strong style="color: #03e9f4">Task Description: </strong></p>
            <textarea style="display: none;" id="markdown-textarea" rows="10" cols="50">{{ quest.condition }}</textarea>
            <div id="html-output"></div>
        </div>
        <div class="input-row">
            <form id="submit_form" action="/submit-solution">
                <textarea class="input-row" name="user_code" id="editor">{{ quest.function_template }}</textarea>
                <input type="hidden" id="quest_id" name="quest_id" value="{{ quest.quest_id }}">
                <input type="hidden" id="quest_inputs" name="quest_inputs" value="{{ quest.test_inputs }}">
                <input type="hidden" id="quest_outputs" name="quest_outputs" value="{{ quest.test_outputs }}">
                <input type="hidden" id="unit_tests" name="unit_tests" value="{{ quest.unit_tests }}">
                <input type="hidden" id="quest_language" name="quest_language" value="{{ quest.language }}">
                <input type="hidden" id="quest_type" name="quest_type" value="{{ quest.type }}">
                <button type="button" id="submitSolution" class="submit-button">Submit Quest</button>
                <button type="button" id="reportQuest" class="report-button">Report Quest</button>
            </form>
        </div>
        <div id="test_results" class="output-row">
            <h2 class="test-results-label">Test Results</h2>
            <div id="message" class="tests-results-info message"></div>
            <div id="successful_tests" class="tests-results-info possitive-results"></div>
            <div id="unsuccessful_tests" class="tests-results-info negative-results"></div>
        </div>
        <div id="zero-test" class="output-row">
            <h2 class="test-results-label">Zero Test</h2>
            <div id="zero-test-input" class="zero-test input"></div>
            <div id="zero-test-output" class="zero-test output"></div>
        </div>
        <div id="zero-test" class="output-row">
            <h2 class="test-results-label">Zero Test Output</h2>
            <div id="zero-test-stdout" class="zero-test stdout"></div>
            <div id="zero-test-stderr" class="zero-test stderr"></div>
        </div>
    </div>

    <!-- Update Test Info Results -->
    <script src="{{ url_for('static', filename='js/updateTestInfo.js') }}"></script>
    <!-- Include CodeMirror handling script -->
    <script src="{{ url_for('static', filename='js/codeMirrorHandlingTask.js') }}"></script>
</body>
<footer>
    <!-- Include Footer template -->
    {% include 'footer.html' %}
</footer>

</html>