<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/anvil.png') }}">
        <title>Python Tasks</title>
        
        <!-- Import Navigation bar styles -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin_panel.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/edit_quest.css') }}">
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <!-- Include CodeMirror library -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"></script>
        <!-- Include CodeMirror theme (optional) -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/dracula.min.css">
        <!-- Include CodeMirror CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.css">
        <!-- Include CodeMirror mode (e.g., Python) -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/python/python.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/javascript/javascript.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/clike/clike.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
        

    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="skill_forge_image">
                <img src="../static/images/anvil.png" alt="Skill Forge" width="50px" height="50px" onclick=location.href="{{ url_for('main_page') }}">
            </div>

            <a class="navbar-brand" onclick=location.href="{{ url_for('main_page') }}">Skill Forge</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" onclick=location.href="{{ url_for('main_page') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="user_section">
                <div class="user_profile" >
                    <img src="../static/images/user.png" width="35" height="35" onclick=location.href="{{ url_for('open_user_profile') }}">
                </div>
            </div>  
        </nav>

        <div class="content-section">
            <div id="editQuestContent" class="content">
                <form action="/edit_quest_db" method="post">
                    <div>
                        <input type="hidden" name="quest_id" value="{{ quest.quest_id }}">
                    </div>
                    <div class="input-row">
                        <h4><strong class="row-label">Quest Name: </strong></h4>
                        <input type="text" name="quest_name" id="quest_name_input" class="text_input" value="{{ quest.quest_name}}">
                    </div>
                    <div class="input-row">
                        <h4><strong class="row-label">Quest Language: </strong></h4>
                        <select name="quest_language" id="quest_language_input" class="dropdown_input">
                            <option value="Python" {% if quest.language == 'Python' %} selected {% endif %}>Python</option>
                            <option value="JavaScript" {% if quest.language == 'JavaScript' %} selected {% endif %}>JavaScript</option>
                            <option value="Java" {% if quest.language == 'Java' %} selected {% endif %}>Java</option>
                            <option value="C#" {% if quest.language == 'C#' %} selected {% endif %}>C#</option>
                        </select>
                    </div>
                    <div class="input-row">
                        <h4><strong class="row-label">Quest Difficulty: </strong></h4>
                        <select name="quest_difficulty" id="quest_difficulty_input" class="dropdown_input">
                            <option value="Novice Quests" {% if quest.difficulty == 'Novice Quests' %} selected {% endif %}>Novice Quests</option>
                            <option value="Adventurous Challenges" {% if quest.difficulty == 'Adventurous Challenges' %} selected {% endif %}>Adventurous Challenges</option>
                            <option value="Epic Campaigns" {% if quest.difficulty == 'Epic Campaigns' %} selected {% endif %}>Epic Campaigns</option>
                        </select>
                    </div>
                    <div class="input-row" style="flex-direction: column;">
                        <h4><strong class="row-label">Quest Condition: </strong></h4>
                        <textarea type="text" name="quest_condition" id="quest_condition_input" rows="10" class="text_input">{{ quest.condition }}</textarea>
                    </div>
                    <div class="input-row" style="flex-direction: column;">
                        <h4><strong class="row-label">Quest Template: </strong></h4>
                        <textarea name="function_template" id="template_input">{{ quest.function_template }}</textarea>
                    </div>
                    <div class="input-row">
                        <h4><strong class="row-label">Quest Unit Tests: </strong></h4>
                        <textarea name="quest_unitests" id="unit_tests_input">{{ quest.unit_tests }}</textarea>
                    </div>
                    <div class="btn-row">
                        <button type="submit" id="editQuest" class="submit-button"
                            onclick=location.href="{{ url_for('edit_quest_db') }}">Save Changes</button>
                    </div>
                </form>
            </div>
            <script>
                // Initialize CodeMirror editors
                var template = CodeMirror.fromTextArea(document.getElementById("template_input"), {
                    lineNumbers: true,
                    theme: "dracula",
                    indentUnit: 2,
                    autoCloseBrackets: true,
                    matchBrackets: true,
                    scrollbars: true
                });
        
                var unit_tests = CodeMirror.fromTextArea(document.getElementById("unit_tests_input"), {
                    lineNumbers: true,
                    theme: "dracula",
                    indentUnit: 2,
                    autoCloseBrackets: true,
                    matchBrackets: true,
                    scrollbars: true
                });
        
                // Function to update modes of CodeMirror editors
                function updateModes(selectedLanguage) {
                    var mode;
                    switch (selectedLanguage) {
                        case 'Python':
                            mode = 'python';
                            break;
                        case 'JavaScript':
                            mode = 'javascript';
                            break;
                        case 'Java':
                            mode = 'text/x-java';
                            break;
                        case 'C#':
                            mode = 'text/x-csharp';
                            break;
                    }
                    template.setOption("mode", mode);
                    unit_tests.setOption("mode", mode);
                    // Refresh the editors after updating the mode
                    template.refresh();
                    unit_tests.refresh();
                }
        
                // Event listener for changes in select element
                document.getElementById("quest_language_input").addEventListener("change", function () {
                    var selectedLanguage = this.value;
                    updateModes(selectedLanguage);
                });
        
                // Initialize modes based on the initial selected language
                var initialSelectedLanguage = document.getElementById("quest_language_input").value;
                updateModes(initialSelectedLanguage);
            </script>
        
            <!-- JavaScript to toggle visibility of content sections -->
            <script>
                function toggleContent(sectionId) {
                    // Hide all content sections except the one clicked
                    var contentSections = document.querySelectorAll('.content');
                    contentSections.forEach(function (section) {
                        if (section.id === sectionId + 'Content') {
                            section.style.display = 'block';
                        } else {
                            section.style.display = 'none';
                        }
                    });
                }
            </script>
    </body>
</html>