<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/anvil.png') }}">
        <title>Skill Forge</title>
        <!-- Import Navigation bar styles -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login_form.css') }}">
        <!-- Import Functional Scripts -->
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    </head>
    
    <body>

        <div class="login-box">
            <form method="post" action="{{ url_for('login') }}">
                {{ form.csrf_token }}
                
                <div class="user-box">
                    {{ form.username(class="form-control", placeholder="Username", id="inputUsername") }}
                </div>

                <div class="user-box">
                    {{ form.password(class="form-control", placeholder="Password", id="inputPassword") }}
                </div>
                <!-- Add other form fields as needed -->
                
                
                <button type="submit" class="user-box btn">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Login
                </button>
                    <button type="submit" class="user-box btn" onclick="register()">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Register</button>
            </form>
        </div>
        <script>
            function register() {
                window.location.href = "{{ url_for('register') }}";
            }
            function login(){
                window.location.href = "{{ url_for('login') }}";
            }
        </script>
        <footer id="footer">
            <p>SoftUni Discord Community. All rights reserved 2024</p>
        </footer>
    </body>
</html>

