<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/anvil.png') }}">
        <title>Skill Forge</title>

        <!-- Import Navigation bar styles -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login_form.css') }}">
    </head>
    
    <body>

        <div class="login-box">
            <h2>Login</h2>
            <form>
              <div class="user-box">
                <input type="text" name="" required="">
                <label>Email</label>
              </div>
              <div class="user-box">
                <input type="password" name="" required="">
                <label>Password</label>
              </div>
              <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Sign In
              </a>
              <a href="{{ url_for('register') }}">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Sign Up
              </a>
            </form>
        </div>

        <!-- Import Functional Scripts -->
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    </body>
</html>

