<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/anvil.png') }}">
        <title>Skill Forge</title>
        <!-- Import Navigation bar styles -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login_form.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">

    </head>
    
    <body>
        <div class="login-box">
            <div>
                <h2>Sign In</h2>
            </div>
            <form class="user-box input" method="post" action="{{ url_for('login') }}">
                {{ form.csrf_token }}
                <div>
                    {{ form.username(class="user-box input", placeholder="Username", id="inputUsername") }}
                </div>

                <div class="user-box">
                    {{ form.password(class="input", placeholder="Password", id="inputPassword") }}
                </div>
                <button type="submit" class="user-box btn">Login</button>
                <button type="button" class="user-box btn" onclick=location.href="{{ url_for('register') }}">Register</button>
            </form>
        </div>
    </body>
    <footer class="footer">
        <p>SoftUni Discord Community. All rights reserved 2024</p>
    </footer>
</html>

