<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/anvil.png') }}">
        <title>Skill Forge</title>

        <!-- Import Navigation bar styles -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login_form.css') }}">
    </head>
    
    <body>

        <div class="login-box">
            <h2>Register</h2>
            <form>
              <div class="user-box">
                <input type="text" name="email" required="">
                <label>Email Adress</label>
              </div>

              <div class="user-box">
                <input type="text" name="username" required="">
                <label>Username</label>
              </div>

              <div class="user-box">
                <input type="text" name="first_name" required="">
                <label>First Name</label>
              </div>

              <div class="user-box">
                <input type="text" name="last_name" required="">
                <label>Last Name</label>
              </div>

              <div class="user-box">
                <input type="password" name="password" required="">
                <label>Password</label>
              </div>

              <div class="user-box">
                <input type="password" name="repeat_password" required="">
                <label>Repeat Password</label>
              </div>

              <a href="{{ url_for('register') }}">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Create Account
              </a>
              <a href="{{ url_for('hello') }}">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Sign In
              </a>
            </form>
          </div>

          <form method="POST" class="register-form", action="{{ url_for('register') }}">
            {{ form.hidden_tag() }}
            <!-- <label class="special-label">{{ form.username.label }}</label> {{ form.username(size=20) }} -->
    
            {{ form.username.label }} {{ form.username(size=20) }}
            {{ form.first_name.label}} {{ form.first_name(size=20) }}
            {{ form.last_name.label}} {{ form.last_name(size=20) }}
            {{ form.email.label }} {{ form.email(size=20) }}
            {{ form.password.label }} {{ form.password(size=20) }}
            {{ form.confirm.label }} {{ form.confirm(size=20) }}
            {{ form.submit (class="register-button")}}
        </form>

    </body>
</html>

