<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/anvil.png') }}">
        <title>Skill Forge</title>

        <!-- Import Navigation bar styles -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login_form.css') }}">
    </head>
    
    <body>

        <div class="container">
            <h1>Create new account</h1>
        </div>
        
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <form method="POST" class="register-form", action="{{ url_for('register') }}">
                {{ form.hidden_tag() }}
                <!-- <label class="special-label">{{ form.username.label }}</label> {{ form.username(size=20) }} -->
        
                {{ form.username.label }} {{ form.username(size=20) }}
                {{ form.first_name.label}} {{ form.first_name(size=20) }}
                {{ form.last_name.label}} {{ form.last_name(size=20) }}
                {{ form.email.label }} {{ form.email(size=20) }}
                {{ form.password.label }} {{ form.password(size=20) }}
                {{ form.confirm.label }} {{ form.confirm(size=20) }}
                {{ form.submit (class="register-button")}}
            </form>
            
        </div>
        
        <div class="container">
            <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
        </div>
    </body>
</html>

