<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/anvil.png') }}">
    <title>Skill Forge</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user_profile.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table.css') }}">
    <!-- Track the user status -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/userStatus.js') }}"></script>
</head>

<body>
    <!-- Include Navbar template -->
    {% include 'navbar.html' %}

    <div class="user_info">
        <div class="left_pane">
            <div>
                {% if avatar %}
                <img src="data:image/jpeg;base64,{{ avatar }}" alt="Avatar" class="user_avatar">
                {% else %}
                <img src="../static/images/anvil.png" alt="Default Avatar" class="user_avatar">
                {% endif %}
            </div>
            <p class="user_name">{{ user.username }}</p>

            <div class="social_links">
                <p class="social_links title">Social Links</p>
                <div class="social_links icons">
                    {% if user.facebook_profile and user.facebook_profile|length > 1 %}
                    <a href="{{ user.facebook_profile }}" target="_blank">
                        <img src="../static/images/facebook.svg" width="20" height="20" alt="Facebook Profile" style="margin-right: 10px;">
                    </a>
                    {% endif %}
                    {% if user.instagram_profile and user.instagram_profile|length > 1 %}
                    <a href="{{ user.instagram_profile }}" target="_blank">
                        <img src="../static/images/instagram.png" width="20" height="20" alt="Instagram" style="margin-right: 10px;">
                    </a>
                    {% endif %}
                    {% if user.github_profile and user.github_profile|length > 1 %}
                    <a href="{{ user.github_profile }}" target="_blank">
                        <img src="../static/images/github.png" width="22" height="22" alt="GitHub" style="margin-right: 10px;">
                    </a>
                    {% endif %}
                    {% if user.discord_id and user.discord_id|length > 1 %}
                    <a href="https://discord.com/users/{{ user.discord_id }}" target="_blank">
                        <img src="../static/images/discord.svg" width="20" height="20" alt="Discord" style="margin-right: 10px;">
                    </a>
                    {% endif %}
                    {% if user.linked_in and user.linked_in|length > 1 %}
                    <a href="{{ user.linked_in }}" target="_blank">
                        <img src="../static/images/linkedin.png" width="20" height="20" alt="LinkedIn" style="margin-right: 10px;">
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="online_status" id="onlineStatusDiv">
                {% if user_status == "Offline" %}
                    <p class="online_status title offline">Last seen</p>
                    <p class="online_status title offline">{{ last_logged_date.strftime('%d-%m-%Y %H:%M') }}</p>
                {% else %}
                    <p class="online_status title">{{ user_status }}</p>
                {% endif %}
            </div>
        </div>

        <div style="display:flex; flex-direction:column;width:100%">
            <div class="center_pane_form">
                <form action="/self_update" method="post" enctype="multipart/form-data">
                    <div class="center_pane">
                        <!-- User information section -->
                        <h3 class="left_status h3">User Information</h3>
                        <div class="user_stats">
                            <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                                <p class="left_stats">User ID:</p>
                                <p class="right_stats" name="user_id">{{ user.user_id }}</p>
                            </div>
                            <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                                <p class="left_stats">Username:</p>
                                <p class="right_stats">{{ user.username }}</p>
                            </div>

                            <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                                <p class="left_stats">First Name:</p>
                                <textarea cols="40" class="right_stats_edit" name="change_first_name"
                                    contenteditable="true">{{ user.first_name }}</textarea>
                            </div>

                            <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                                <p class="left_stats">Last Name:</p>
                                <textarea cols="50" class="right_stats_edit" name="change_last_name"
                                    contenteditable="true">{{ user.last_name }}</textarea>
                            </div>

                            <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                                <p class="left_stats">Email:</p>
                                <textarea cols="50" class="right_stats_edit" contenteditable="true"
                                    name="change_email">{{ user.email }}</textarea>
                            </div>
                        </div>
                        
                        <!-- Social Links section -->
                        <div class="user_stats">
                            <div style="display:flex; flex-direction: column;">
                                <div style="display:flex; flex-direction: row; margin-top: 5px">
                                    <p class="left_stats">Facebook Profile:</p>
                                    <textarea cols="60" class="right_stats_edit" contenteditable="true" name="change_facebook">{{ user.facebook_profile }}</textarea>
                                </div>
                                <div style="display:flex; flex-direction: row;">
                                    <p class="left_stats">Instagram:</p>
                                    <textarea cols="60" class="right_stats_edit" contenteditable="true" name="change_instagram">{{ user.instagram_profile }}</textarea>
                                </div>
                                <div style="display:flex; flex-direction: row;">
                                    <p class="left_stats">GitHub:</p>
                                    <textarea cols="60" class="right_stats_edit" contenteditable="true" name="change_github">{{ user.github_profile }}</textarea>
                                </div>
                                <div style="display:flex; flex-direction: row;">
                                    <p class="left_stats">Discord ID:</p>
                                    <textarea cols="60" class="right_stats_edit" contenteditable="true" name="change_discord">{{ user.discord_id }}</textarea>
                                </div>
                                <div style="display:flex; flex-direction: row;">
                                    <p class="left_stats">LinkedIn:</p>
                                    <textarea cols="60" class="right_stats_edit" contenteditable="true" name="change_linkedin">{{ user.linked_in }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Buttons section -->
                    <div class="btn-section">
                        <button type="submit" id="saveUserChanges" class="submit-buton"
                            onclick=location.href="{{ url_for('user_self_update') }}">Save Changes</button>
                    </div>
                </form>

                <!-- Change avatar form -->
                <div class="change-avatar-section">
                    <p class="ca-1">Change Avatar</p>
                    <form action="/upload_avatar" method="post" enctype="multipart/form-data" class="ca-2">
                        <input class="ca-3" type="file" name="avatar" accept="image/*">
                        <input class="ca-4" type="submit" value="Update Avatar">
                    </form>
                </div>

                <!-- User Achievemnts section -->
                <div class="center_pane_form">
                    <h3 class="left_status h3">Achievements</h3>
                    <div class="user_stats">
                        <div class="achv-container">
                            {% for user_achievement in user_achievements %}
                            <div class="achv">
                                <img src="../static/images/achievements-icons/{{ user_achievement.achievement.achievement_picture }}">
                                <div class="achv-descr">
                                    <p style="margin-bottom: 0px">{{ user_achievement.achievement.achievement_name }}<br>{{ user_achievement.achievement.achievement_description }}</p>
                                </div>
                            </div>
                            {% endfor %}
                        </div> 
                    </div>
                    </div>
                </div>


                <div class="center_pane_form">
                    <!-- User stats section -->
                    <h3 class="left_status h3">User Stats</h3>
                    <div class="user_stats">
                        <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                            <p class="left_stats">Date Registration:</p>
                            <p class="right_stats">{{ user.date_registered.strftime('%d-%m-%Y %H:%M:%S') }}</p>
                        </div>
                        <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                            <p class="left_stats">Level:</p>
                            <p class="right_stats">{{ user.level }} - {{user.xp}} XP Points</p>
                        </div>
                        <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                            <p class="left_stats">Rank:</p>
                            <p class="right_stats">{{ user.rank }}</p>
                        </div>
                        <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                            <p class="left_stats">Total Solved Quests:</p>
                            <p class="right_stats">{{ user.total_solved_quests}}</p>
                        </div>
                        <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                            <p class="left_stats">&emsp;Python:</p>
                            <p class="right_stats">{{ user.total_python_quests}}</p>
                        </div>
                        <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                            <p class="left_stats">&emsp;Java:</p>
                            <p class="right_stats">{{ user.total_java_quests}}</p>
                        </div>
                        <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                            <p class="left_stats">&emsp;JavaScript:</p>
                            <p class="right_stats">{{ user.total_javascript_quests}}</p>
                        </div>
                        <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                            <p class="left_stats">&emsp;C# Quests:</p>
                            <p class="right_stats">{{ user.total_csharp_quests}}</p>
                        </div>
                        <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                            <p class="left_stats">Total Submited Quests:</p>
                            <p class="right_stats">{{ user.total_submited_quests}}</p>
                        </div>
                        <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                            <p class="left_stats">&emsp;Approved:</p>
                            <p class="right_stats">{{ user.total_approved_submited_quests}}</p>
                        </div>
                        <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                            <p class="left_stats">&emsp;Pending:</p>
                            <p class="right_stats">{{ user.total_pending_submited_quests}}</p>
                        </div>
                        <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                            <p class="left_stats">&emsp;Rejected:</p>
                            <p class="right_stats">{{ user.total_rejected_submited_quests}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- User's Solved Quests table -->
    <div class="container-fluid" style="margin-bottom: 20px">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="card rounded shadow border-0">
                    <div class="card-body p-5 bg-white rounded">
                        <div class="table-responsive">
                            <table id="user_solved_quests" class="table table-striped table-bordered">
                                <thead>
                                    <tr style="font-size: 10px">
                                        <th>Sumbission ID</th>
                                        <th>Quest ID</th>
                                        <th>Quest Name</th>
                                        <th>Language</th>
                                        <th>Difficulty</th>
                                        <th>Submited On</th>
                                        <th style="width: 20px">Succesful Tests</th>
                                        <th style="width: 20px">Unsuccesful Tests</th>
                                        <th style="width: 20px">Quest Passed</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for solved_quest in user_solved_quests %}
                                    <tr style="font-size: 12px">
                                        <td><a href="{{ url_for('open_view_solution', solution_id=solved_quest.submission_id) }}">{{ solved_quest.submission_id }}</a></td>
                                        <td>{{ solved_quest.quest_id }}</td>
                                        <td><a href="{{ url_for('open_curr_quest', quest_id=solved_quest.coding_quest.quest_id) }}">{{ solved_quest.coding_quest.quest_name }}</a></td>
                                        <td>{{ solved_quest.coding_quest.language }}</td>
                                        <td>{{ solved_quest.coding_quest.difficulty }}</td>
                                        <td>{{ solved_quest.submission_date.strftime('%d-%m-%Y %H:%M') }}</td>
                                        <td>{{ solved_quest.successful_tests }}</td>
                                        <td>{{ solved_quest.unsuccessful_tests }}</td>
                                        <td>
                                            {% if solved_quest.quest_passed %}
                                                <img src="{{ url_for('static', filename='images/checked.png') }}" alt="Passed" width="20" height="20">
                                            {% else %}
                                                <img src="{{ url_for('static', filename='images/unchecked.png') }}" alt="Failed" width="20" height="20">
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
    <script>
        $(function () {
          $(document).ready(function () {
            $('#user_solved_quests').DataTable();
          });
        });
      </script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
      <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
      <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
</body>

<footer>
    <!-- Include Footer template -->
    {% include 'footer.html' %}
</footer>
</html>