<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/anvil.png') }}">
        <title>Skill Forge</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='user_profile.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='navbar.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Skill Forge</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" onclick=location.href="{{ url_for('main_page') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="user_section">
                <div class="user_profile" >
                    <img src="static/images/user.png" width="35" height="35" onclick=location.href="{{ url_for('open_user_profile') }}">
                </div>
            </div>  
        </nav>

        <div class="user_info">
            <div class="left_pane">
                <div>
                    {% if avatar %}
                        <img src="data:image/jpeg;base64,{{ avatar }}" alt="Avatar" class="user_avatar">
                    {% else %}
                        <img src="static/images/anvil.png" alt="Default Avatar" class="user_avatar">
                    {% endif %}
                </div>
                <p class="user_name">{{ user.username }}</p>

            </div>

            <!-- <div class="right_pane">
                <div class="user_stats">
                    <p class="user_id">USER ID: {{ user.user_id }}</p>
                    <p class="user_xp">XP: {{ user.xp }}<br>Level: {{ user.level }}</p><p>Rank: {{ user.rank }}</p>
                </div>
                <div class="user_data">
                    <div class="user-data fname">
                        <p class="user-data fname lt">First Name:</p> <p class="user-data fname rt"> {{ user.first_name }}</p>
                    </div>
                    <div class="user-data lname">
                        <p class="user-data lname lt">Last Name:</p> <p class="user-data lname rt"> {{ user.last_name }}</p>
                    </div>
                    <p>Email: {{ user.email }}</p>
                    <p>Date of registration: {{ formatted_date }}</p>
                </div>
                <form action="/upload_avatar" method="post" enctype="multipart/form-data">
                    <input type="file" name="avatar" accept="image/*">
                    <input type="submit" value="Upload Avatar">
                </form>
            </div> -->
            <div class="right_pane">
                <div class="user_stats">
                    <p class="user_data_labels">USER ID: {{ user.user_id }}</p>
                    <p class="user_data_labels">LEVEL: {{ user.level }} XP: {{ user.xp }}</p>
                    <p class="user_data_labels">RANK: {{ user.rank }}</p>
                </div>
                <div class="user_data">
                    <p class="user_data_labels">FIRST NAME: <input class="user_data_cnts" type="text" name="first_name" id="first_name" value="{{ user.first_name }}"></p>
                    <p class="user_data_labels">LAST NAME: <input class="user_data_cnts" type="text" name="last_name" id="last_name" value="{{ user.last_name }}"></p>
                    <p class="user_data_labels">EMAIL: <input class="user_data_cnts" type="text" name="email" id="email" value="{{ user.email }}"></p>
                    <p class="user_data_labels">DATE OF REGISTRATION: {{ formatted_date }}</p>
                </div>
                <div class="change_avatar_form">
                    <p class="user_data_labels">CHANGE AVATAR</p>
                    <form action="/upload_avatar" method="post" enctype="multipart/form-data" class="change_avatar">
                        <input type="file" name="avatar" accept="image/*">
                        <input class="form_button" type="submit" value="Upload Avatar">
                    </form>
                </div>
            </div>

        </div>

        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </body>

</html>

