<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/anvil.png') }}">
    <title>Skill Forge</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user_profile.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
</head>

<body>
    <!-- Include Navbar template -->
    {% include 'navbar.html' %}

    <div class="user_info">
        <div class="left_pane">
            <div>
                {% if avatar %}
                <img src="data:image/jpeg;base64,{{ avatar }}" alt="Avatar" class="user_avatar">
                {% else %}
                <img src="../static/images/anvil.png" alt="Default Avatar" class="user_avatar">
                {% endif %}
            </div>
            <p class="user_name">{{ user.username }}</p>

            <div class="social_links">
                <p class="social_links title">Social Links</p>
                <div class="social_links icons">
                    {% if user.facebook_profile and user.facebook_profile|length > 1 %}
                    <a href="{{ user.facebook_profile }}" target="_blank">
                        <img src="../static/images/facebook.svg" width="20" height="20" alt="Facebook Profile" style="margin-right: 10px;">
                    </a>
                    {% endif %}
                    {% if user.instagram_profile and user.instagram_profile|length > 1 %}
                    <a href="{{ user.instagram_profile }}" target="_blank">
                        <img src="../static/images/instagram.png" width="20" height="20" alt="Instagram" style="margin-right: 10px;">
                    </a>
                    {% endif %}
                    {% if user.github_profile and user.github_profile|length > 1 %}
                    <a href="{{ user.github_profile }}" target="_blank">
                        <img src="../static/images/github.png" width="22" height="22" alt="GitHub" style="margin-right: 10px;">
                    </a>
                    {% endif %}
                    {% if user.discord_id and user.discord_id|length > 1 %}
                    <a href="https://discord.com/users/{{ user.discord_id }}" target="_blank">
                        <img src="../static/images/discord.svg" width="20" height="20" alt="Discord" style="margin-right: 10px;">
                    </a>
                    {% endif %}
                    {% if user.linked_in and user.linked_in|length > 1 %}
                    <a href="{{ user.linked_in }}" target="_blank">
                        <img src="../static/images/linkedin.png" width="20" height="20" alt="LinkedIn" style="margin-right: 10px;">
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="online_status" id="onlineStatusDiv">
                {% if not user_status %}
                    <p class="online_status title offline">Offline</p>
                {% elif user_status == "Offline" %}
                    <p class="online_status title offline">Last seen</p>
                    <p class="online_status title offline">{{ last_logged_date.strftime('%d-%m-%Y %H:%M') }}</p>
                {% elif user_status == "Online" %}
                    <p class="online_status title online">Online</p>
                {% endif %}
            </div>
        </div>

        <div style="display:flex; flex-direction:column;width:100%">
            <div class="center_pane_form">
                <form action="/self_update" method="post" enctype="multipart/form-data">
                    <div class="center_pane">
                        <!-- User information section -->
                        <h3 class="left_status h3">User Information</h3>
                        <div class="user_stats">
                            <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                                <p class="left_stats">User ID:</p>
                                <p class="right_stats" name="user_id">{{ user.user_id }}</p>
                            </div>
                            <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                                <p class="left_stats">Username:</p>
                                <p class="right_stats">{{ user.username }}</p>
                            </div>

                            <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                                <p class="left_stats">First Name:</p>
                                <p class="right_stats">{{ user.first_name }}</p>
                            </div>

                            <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                                <p class="left_stats">Last Name:</p>
                                <p class="right_stats">{{ user.last_name }}</p>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="center_pane_form">
                    <!-- User stats section -->
                    <h3 class="left_status h3">User Stats</h3>
                    <div class="user_stats">
                        <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                            <p class="left_stats">Date Registration:</p>
                            <p class="right_stats">{{ user.date_registered.strftime('%d-%m-%Y %H:%M:%S') }}</p>
                        </div>
                        <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                            <p class="left_stats">Level:</p>
                            <p class="right_stats">{{ user.level }} - {{user.xp}} XP Points</p>
                        </div>
                        <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                            <p class="left_stats">Rank:</p>
                            <p class="right_stats">{{ user.rank }}</p>
                        </div>
                        <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                            <p class="left_stats">Total Solved Quests:</p>
                            <p class="right_stats">{{ user.total_solved_quests}}</p>
                        </div>
                        <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                            <p class="left_stats">&emsp;Python:</p>
                            <p class="right_stats">{{ user.total_python_quests}}</p>
                        </div>
                        <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                            <p class="left_stats">&emsp;Java:</p>
                            <p class="right_stats">{{ user.total_java_quests}}</p>
                        </div>
                        <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                            <p class="left_stats">&emsp;JavaScript:</p>
                            <p class="right_stats">{{ user.total_javascript_quests}}</p>
                        </div>
                        <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                            <p class="left_stats">&emsp;C# Quests:</p>
                            <p class="right_stats">{{ user.total_csharp_quests}}</p>
                        </div>
                        <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                            <p class="left_stats">Total Submited Quests:</p>
                            <p class="right_stats">{{ user.total_submited_quests}}</p>
                        </div>
                        <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                            <p class="left_stats">&emsp;Approved:</p>
                            <p class="right_stats">{{ user.total_approved_submited_quests}}</p>
                        </div>
                        <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                            <p class="left_stats">&emsp;Pending:</p>
                            <p class="right_stats">{{ user.total_pending_submited_quests}}</p>
                        </div>
                        <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                            <p class="left_stats">&emsp;Rejected:</p>
                            <p class="right_stats">{{ user.total_rejected_submited_quests}}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
</body>

<footer>
    <!-- Include Footer template -->
    {% include 'footer.html' %}
</footer>


</html>