<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/anvil.png') }}">
    <title>Skill Forge</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user_submit_quest.css') }}">
    <!-- Include CodeMirror library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"></script>
    <!-- Include CodeMirror theme (optional) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/dracula.min.css">
    <!-- Include CodeMirror CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.css">
    <!-- Include CodeMirror modes -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/clike/clike.min.js"></script>
    <!-- Include bootstrap dataTables libraries -->
    <script src="{{ url_for('static', filename='js/questsTable.js') }}"></script>
    <!-- JavaScript to toggle visibility of content sections -->
    <script src="{{ url_for('static', filename='js/toggleVisibilitySections.js') }}"></script>
    <!-- JavaScript to toggle visibility of content sections -->
    <script src="{{ url_for('static', filename='js/showContentsSections.js') }}"></script>
</head>

<body>
    <!-- Include Navbar template -->
    {% include 'navbar.html' %}

    <form action="/user_submit_quest" method="post">
        <div id="addQuestContent" class="content">
            <div class="input-row">
                <h4><strong class="row-label">Quest Name: </strong></h4>
                <input type="text" name="quest_name" id="quest_name_input" class="text_input">
            </div>
            <div class="input-row">
                <h4><strong class="row-label">Quest Language: </strong></h4>
                <select name="quest_language" id="quest_language_input" class="dropdown_input">
                    <option value="Python">Python</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="Java">Java</option>
                    <option value="C#">C#</option>
                </select>
            </div>
            <div class="input-row">
                <h4><strong class="row-label">Quest Difficulty: </strong></h4>
                <select name="quest_difficulty" id="quest_difficulty_input" class="dropdown_input">
                    <option value="Novice Quests">Novice Quests</option>
                    <option value="Adventurous Challenges">Adventurous Challenges</option>
                    <option value="Epic Campaigns">Epic Campaigns</option>
                </select>
            </div>
            <div class="input-row" style="flex-direction: column;">
                <h4><strong class="row-label">Quest Condition: </strong></h4>
                <textarea style="display: none;" id="markdown-textarea" rows="10" cols="50">{{ quest.condition }}</textarea>
                <div id="html-output"></div>
            </div>
            <div class="input-row" style="flex-direction: column;">
                <h4><strong class="row-label">Quest Template: </strong></h4>
                <textarea name="function_template" id="template_input"></textarea>
            </div>
            <div class="input-row" style="flex-direction: column;">
                <h4><strong class="row-label">Inputs Samples: </strong></h4>
                <p class="row-label" style="color:aliceblue">Example inputs for the function in format: [first_argument, second_argument....] [first_argument, second_argument....]</p>
                <textarea class="text_input" name="quest_inputs" id="quest_inputs_input"></textarea>
            </div>
            <div class="input-row" style="flex-direction: column;">
                <h4><strong class="row-label">Outputs Samples: </strong></h4>
                <p class="row-label" style="color:aliceblue">Expected outputs from the function in the same order as the inputs in format: [output, output...] [output, output...]</p>
                <textarea class="text_input" name="quest_outputs" id="quest_outputs_input"></textarea>
            </div>
            <div class="input-row">
                <h4><strong class="row-label">Quest Unit Tests (Only for Abyssal Trials difficulty): </strong></h4>
                <textarea name="quest_unitests" id="unit_tests_input"></textarea>
            </div>
            <div class="btn-row">
                <button type="submit" id="submitQuest" class="submit-button"
                    onclick=location.href="{{ url_for('user_submit_quest') }}">Submit Quest</button>
            </div>
        </div>
    </form>
    <!-- JavaScript script to handle the CodeMirror custom fields. 
        This script should be loaded after the initialization of the fields above! 
    -->
    <script src="{{ url_for('static', filename='js/codeMirrorHandling.js') }}"></script>
</body>

</html>