<!DOCTYPE html>

<html>

<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/anvil.png') }}">
    <title>Skill Forge - About</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/404.css') }}">
</head>

<body>
    <div class="container">
        <img src="../static/images/explorer_avatar.png" alt="Explorer Avatar" class="avatar">
        <div class="text-container">
            <p class="error-code">404!</p>
            <p class="message">Ooops! That didn't get you anywhere, isn't it?</p>
            <p class="message">Let me take you to a better place</p>
        </div>
        <button class="button" onclick="window.location.href='/'">Home</button>
    </div>
</body>

</html>