<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/anvil.png') }}">
    <title>Skill Forge - About</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
</head>

<body>
    <!-- Include Navbar template -->
    {% include 'navbar.html' %}
    
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>About Us</h2>
                <p>
                    Skill Forge is a platform for learning and teaching online. We offer a wide range of courses in various
                    categories, such as programming, design, and business. Our mission is to provide high-quality education
                    for everyone, everywhere.
                </p>
                <p>
                    Our courses are created by experts in their respective fields. They are designed to be engaging, interactive,
                    and easy to follow. Whether you are a beginner or an experienced professional, you will find a course that
                    suits your needs.
                </p>
                <p>
                    We believe that education is the key to success. That's why we are committed to helping you achieve your
                    goals. Join us today and start learning new skills!
                </p>
            </div>
        </div>
</body>
<footer>
    <!-- Include Footer template -->
    {% include 'footer.html' %}
</footer>

</html>