<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/anvil.png') }}">
    <title>Skill Forge - About</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
</head>

<body>
    <!-- Include Navbar template -->
    {% include 'navbar.html' %}
    
    <div class="container">
        <div class="box left">
            <h3 class="box title">About Us</h3>
            <p class="box content">Welcome to Skill-Forge, where you can embark on a journey of learning, creativity, and problem-solving through programming. 
                Whether you're a novice coder looking to sharpen your skills, an adventurous programmer seeking new challenges, 
                or an experienced developer ready for epic campaigns, our platform has something for everyone.
            </p>
        </div>
        <div class="box">
            <h3 class="box title">Choose Your Difficulty Level</h3>
            <p class="box content">Select from a variety of difficulty levels to match your expertise and challenge yourself:
                <li class="box point">Novice Quests: Perfect for beginners, these quests offer a gentle introduction to programming concepts and syntax.</li>
                <li class="box point">Adventurous Challenges: Test your skills and expand your knowledge with intermediate-level challenges that push your boundaries.</li>
                <li class="box point">Epic Campaigns: Conquer complex projects and showcase your expertise with advanced-level campaigns designed for seasoned developers.</li>
            </p>
        </div>
        <div class="box">3</div>
        <div class="box">4</div>
    </div>
</body>
<footer>
    <!-- Include Footer template -->
    {% include 'footer.html' %}
</footer>

</html>