<!DOCTYPE html>

<html>

<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/anvil.png') }}">
    <title>Skill Forge - Admin Panel - Edit Submited Quest</title>

    <!-- Import Navigation bar styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/edit_submited_quest.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin_panel.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
    <!-- Include CodeMirror library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"></script>
    <!-- Include CodeMirror theme (optional) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/dracula.min.css">
    <!-- Include CodeMirror CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.css">
    <!-- Include CodeMirror modes -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/clike/clike.min.js"></script>
    <!-- Include bootstrap dataTables libraries -->
    <script src="{{ url_for('static', filename='js/questsTable.js') }}"></script>
    <!-- JavaScript to toggle visibility of content sections -->
    <script src="{{ url_for('static', filename='js/toggleVisibilitySections.js') }}"></script>
    <!-- JavaScript to toggle visibility of content sections -->
    <script src="{{ url_for('static', filename='js/showContentsSections.js') }}"></script>
    <!-- Data Table Boostrap libraries -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <!-- Comments Section Bootstrap libraries -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Track the user status -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/websocket.js') }}"></script>


</head>

<body>
    <!-- Include Navbar template -->
    {% include 'navbar.html' %}
    
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="content-section">
        <div id="editQuestContent" class="content">
            <form action="{{ url_for('usq.approve_submited_quest', quest_id=submited_quest.quest_id) }}" method="post" style="width: 100%;">
                {{ form.hidden_tag() }}
                <div class="input-row">
                    <div class="quest-data-container">
                        <p class="quest-data-labels"><span>Generated Quest ID:</span> {{ submited_quest.quest_id }}</p>
                        <p class="quest-data-labels {{ submited_quest.status }}"><span>Current Quest Status:</span> {{ submited_quest.status }}</p>
                        <p class="quest-data-labels"><span>Quest Author:</span> {{ submited_quest.quest_author }}</p>
                        <p class="quest-data-labels"><span>Quest Author ID:</span> {{ submited_quest.quest_author_id }}</p>
                        <p class="quest-data-labels"><span>Date Submitted:</span> {{ submited_quest.date_added.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                        <p class="quest-data-labels"><span>Date Updated:</span> {{ submited_quest.last_modified.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                    </div>
                </div>
                <div class="input-row">
                    <h4><strong class="row-label">Quest Name: </strong></h4>
                    {{ form.submited_quest_name(class="text_input") }}
                </div>
                <div class="input-row">
                    <h4><strong class="row-label">Quest Language: </strong></h4>
                    {{ form.submited_quest_language(class="dropdown_input", id="quest_language_input") }}
                </div>
                <div class="input-row">
                    <h4><strong class="row-label">Quest Difficulty: </strong></h4>
                    {{ form.submited_quest_difficulty(class="dropdown_input") }}
                </div>
                <div class="input-row" style="flex-direction: column;">
                    <h4><strong class="row-label">Quest Condition: </strong></h4>
                    {{ form.submited_quest_condition(class="text_input", rows=10) }}
                </div>
                <div class="input-row" style="flex-direction: column;">
                    <h4><strong class="row-label">Quest Template: </strong></h4>
                    {{ form.submited_function_template(class="text_input", id="template_input") }}
                </div>
                <div class="input-row">
                    <h4><strong class="row-label">Quest Unit Tests: </strong></h4>
                    {{ form.submited_quest_unitests(class="text_input", id="unit_tests_input") }}
                </div>
                <div class="input-row">
                    <h4><strong class="row-label">Quest Test Inputs: </strong></h4>
                    {{ form.submited_quest_inputs(class="text_input", rows=10) }}
                </div>
                <div class="input-row">
                    <h4><strong class="row-label">Quest Test Outputs: </strong></h4>
                    {{ form.submited_quest_outputs(class="text_input", rows=10) }}
                </div>
                {{ form.submited_quest_id }}
                {{ form.submited_quest_author }}
                {{ form.submited_quest_date_added }}

                {% if submited_quest.status == "Pending" %}
                    <div class="input-row">
                        <h4><strong class="row-label">Request Changes Comment: </strong></h4>
                        {{ form.request_changes_comment(class="text_input", rows=10) }}
                    </div>
                    <div class="btn-row">
                        {{ form.approve(class="submit-button approve-btn") }}
                        {{ form.request_changes(class="submit-button request-changes-btn") }}
                        {{ form.reject(class="submit-button reject-btn") }}
                    </div>
                {% endif %}
            </form>
        </div>

        <!-- JavaScript script to handle the CodeMirror custom fields. 
            This script should be loaded after the initialization of the fields above! 
        -->
        <script src="{{ url_for('static', filename='js/codeMirrorHandling.js') }}"></script>
</body>

</html>