<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='./images/anvil.png') }}">
        <title>Python Tasks</title>

        <!-- Import Navigation bar styles -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">    
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin_panel.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/edit_quest.css') }}">
        <!-- Include CodeMirror library -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"></script>
        <!-- Include CodeMirror theme (optional) -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/dracula.min.css">
        <!-- Include CodeMirror CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.css">
        <!-- Include CodeMirror mode (e.g., Python) -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/python/python.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/javascript/javascript.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/clike/clike.min.js"></script>
        <!-- Include bootstrap dataTables libraries -->
        <script src="{{ url_for('static', filename='js/questsTable.js') }}"></script>
        <!-- JavaScript to toggle visibility of content sections -->
        <script src="{{ url_for('static', filename='js/toggleVisibilitySections.js') }}"></script>
        <!-- JavaScript to toggle visibility of content sections -->
        <script src="{{ url_for('static', filename='js/showContentsSections.js') }}"></script>
        <!-- Track the user status -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
        <script src="{{ url_for('static', filename='js/websocket.js') }}"></script>
    </head>

    <body>
        <!-- Include Navbar template -->
        {% include 'navbar.html' %}
    
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="content-section">
            <div id="editQuestContent" class="content">
                <form action="{{ url_for('quests.edit_quest_db') }}" method="post">
                    {{ form.hidden_tag() }}
                    
                    <div class="input-row">
                        <h4><strong class="row-label">{{ form.quest_name.label }}</strong></h4>
                        {{ form.quest_name(class="text_input") }}
                    </div>
                    
                    <div class="input-row">
                        <h4><strong class="row-label">{{ form.quest_language.label }}</strong></h4>
                        {{ form.quest_language(class="dropdown_input", id="quest_language_input") }}
                    </div>
                    
                    <div class="input-row">
                        <h4><strong class="row-label">{{ form.quest_difficulty.label }}</strong></h4>
                        {{ form.quest_difficulty(class="dropdown_input") }}
                    </div>
                    
                    <div class="input-row" style="flex-direction: column;">
                        <h4><strong class="row-label">{{ form.quest_condition.label }}</strong></h4>
                        {{ form.quest_condition(rows="10", class="text_input") }}
                    </div>
                    
                    <div class="input-row" style="flex-direction: column;">
                        <h4><strong class="row-label">{{ form.function_template.label }}</strong></h4>
                        {{ form.function_template(class="text_input", id="template_input") }}
                    </div>
                    
                    <div class="input-row" style="flex-direction: column;">
                        <h4><strong class="row-label">{{ form.quest_test_inputs.label }}</strong></h4>
                        {{ form.quest_test_inputs(class="text_input") }}
                    </div>
                    
                    <div class="input-row" style="flex-direction: column;">
                        <h4><strong class="row-label">{{ form.quest_test_outputs.label }}</strong></h4>
                        {{ form.quest_test_outputs(class="text_input") }}
                    </div>
                    
                    <div class="input-row" style="flex-direction: column;">
                        <h4><strong class="row-label">{{ form.quest_unitests.label }}</strong></h4>
                        {{ form.quest_unitests(class="text_input", id="unit_tests_input") }}
                    </div>
                    <div class="btn-row">
                        {{ form.submit(class="submit-button") }}
                    </div>
                </form>
            </div>
        </div>
        <!-- JavaScript script to handle the CodeMirror custom fields. 
            This script should be loaded after the initialization of the fields above! 
        -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/python/python.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/javascript/javascript.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/clike/clike.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/addon/edit/matchbrackets.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/addon/edit/closebrackets.min.js"></script>
        <script src="{{ url_for('static', filename='js/codeMirrorHandling.js') }}"></script>
    </body>
</html>