<!-- This page should server only as a template for the footer -->
<!-- Inherit the page on all other html pages where the footer should be implemented -->

<!-- footer.html -->
<footer class="footer-section footer footer-center text-primary-content p-10">
    <aside>
        <p class="footer-info font-bold">Skill Forge Open Source Platform - The place where you can forge your skills.</p>
        <p class="footer-info"> 
            <span id="server-time">{% if server_time %}{{ server_time }}{% else %}Loading...{% endif %}</span>
        </p>
        <!-- JavaScript to update server time format -->
        <script src="{{ url_for('static', filename='js/updateServerTime.js') }}"></script>
    </aside>
</footer>

