<!-- This page should server only as a template for the footer -->
<!-- Inherit the page on all other html pages where the footer should be implemented -->

<!-- footer.html -->
<div class="footer-section">
    <p class="footer-info">Skill Forge -- open source project</p>
    <p class="footer-info">Current Release: 1.3.5-prerelease 09.06.2024</p>
    <p class="footer-info">The current server time is: <span id="server-time">{{ server_time }}</span></p>
    <!-- JavaScript to toggle visibility of content sections -->
    <script src="{{ url_for('static', filename='js/updateServerTime.js') }}"></script>
</div>