<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/anvil.png') }}">
        <title>Skill Forge</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
         <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/homepage.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/buttons.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
        <!-- Markdown showdown library -->
        <script src="https://cdn.jsdelivr.net/npm/showdown/dist/showdown.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
        <script src="{{ url_for('static', filename='js/websocket.js') }}"></script>
    </head>


<body class="bg-gradient-to-b from-gray-800 to-gray-900">
    <!-- Include Navbar template -->
    {% include 'navbar.html' %}

    <div class="main_container flex flex-col justify-center items-center">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="description-container flex items-center p-5 mt-5 mb-5 mr-5 ml-12">
            <div class="description-text text-gray-300">
                <h2 class="text-2xl mb-2 text-cyan-400">Welcome to Skill Forge!</h2>
                <p class="text-lg mb-2">Discover a world of coding challenges and quests designed to enhance your
                    programming skills.
                    Whether you're a beginner or an expert, Skill Forge offers a variety of quests in different
                    languages to help you grow and succeed.
                    Join our community, track your progress, and compete with others!</p>
                <p class="text-lg mb-2">Pick your programming language and quest difficulty. Solve as many as you can
                    gaining XP points, progressing through new levels and ranks,
                    unlocking achievements and badges while improving your skills.</p>
                <p class="text-lg mb-2">Be part of community of passionate coders and learners. Engage into
                    conversations and share your knowedge with others.
                    Contribute to the community by submiting new quests and challenges.</p>
                <h2 class="text-2xl mt-4 text-cyan-400">Your next challenge awaits you!</h2>
            </div>
            <img src="../static/images/coding_avatar.png" alt="Your Application Logo" class="description-image ml-4">
        </div>
        <div class="button-container flex justify-center items-center mt-5">
            <div class="button-box flex">
                <div class="btn python-btn"
                    onclick=location.href="{{ url_for('quests.open_quests_table', language='Python') }}">Python</div>
                <div class="btn java-btn"
                    onclick=location.href="{{ url_for('quests.open_quests_table', language='Java') }}">Java</div>
                <div class="btn js-btn"
                    onclick=location.href="{{ url_for('quests.open_quests_table', language='JavaScript') }}">JavaScript
                </div>
                <div class="btn csharp-btn"
                    onclick=location.href="{{ url_for('quests.open_quests_table', language='C#') }}">C#</div>
            </div>
        </div>

        <div class="grid grid-cols-1 sm:grid md:grid-cols-3 gap-4">
            <div class="homepage_box mx-3 mt-6 flex flex-col rounded-lg text-gray-300 shadow-secondary-1 dark:bg-surface-dark dark:text-white sm:shrink-0 sm:grow sm:basis-0">
                <img class="box rounded-t-lg object-cover w-64" src="../static/images/alchemist_avatar.png" alt="Alchemist" />
                <div class="box p-4 md:p-2">
                    <h5 class="mb-2 text-xl font-medium leading-tight text-cyan-400">Stats</h5>
                    <p class="mb-2 text-base">Total Number of users: {{ user_count }}</p>
                    <p class="mb-2 text-base" id="onlineUsersNumber">Online users: {{ online_users }}</p>
                    <p class="mb-2 text-base">Total Number of quests: {{ quest_count }}</p>
                    <p class="mb-2 text-base">Total Number of solved quests: {{ solutions_count }}</p>
                </div>
                <div class="mt-auto border-t-0 border-neutral-100 px-2 py-3"></div>
            </div>
        
            <div class="homepage_box mx-3 mt-6 flex flex-col rounded-lg bg-gray-800 text-gray-300 shadow-secondary-1 dark:bg-surface-dark dark:text-white sm:shrink-0 sm:grow sm:basis-0">
                <img class="box rounded-t-lg object-cover w-64" src="../static/images/construction_worker.png" alt="Coming Soon" />
                <div class="box p-4 md:p-2">
                    <h5 class="mb-2 text-xl font-medium leading-tight text-cyan-400">Coming Soon</h5>
                    <p class="mb-2 text-base">This section is coming soon with more features.</p>
                </div>
                <div class="mt-auto border-t-0 border-neutral-100 px-2 py-3"></div>
            </div>
        
            <div class="homepage_box mx-3 mt-6 flex flex-col rounded-lg bg-gray-800 text-gray-300 shadow-secondary-1 dark:bg-surface-dark dark:text-white sm:shrink-0 sm:grow sm:basis-0">
                <img class="box rounded-t-lg object-cover w-64" src="../static/images/construction_worker.png" alt="Coming Soon" />
                <div class="box p-4 md:p-2">
                    <h5 class="mb-2 text-xl font-medium leading-tight text-cyan-400">Coming Soon</h5>
                    <p class="mb-2 text-base">This section is coming soon with more features.</p>
                </div>
                <div class="mt-auto border-t-0 border-neutral-100 px-2 py-3"></div>
            </div>
        </div>
    </div>
</body>
<footer style="bottom: 100%;">
    <!-- Include Footer template -->
    {% include 'footer.html' %}
</footer>

</html>