<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/anvil.png') }}">
    <title>Skill Forge</title>
    <!-- Import Navigation bar styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login_form.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">

</head>

<body>
    <div class="login_form">
        <div class="login-box">
            <div class="sign-in-label">
                <h2 class="sign-in-label">Sign In</h2>
            </div>
            <div class="alert-msg" style="font-family: 'JetBrainsMonoBold', sans-serif; font-size: 16px">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
            <form class="user-box input" method="post" action="{{ url_for('main.login') }}">
                {{ form.csrf_token() }}
                <div>
                    {{ form.username(class="user-box input", placeholder="Username", id="inputUsername") }}
                </div>

                <div>
                    {{ form.password(class="user-box input", placeholder="Password", id="inputPassword") }}
                </div>
                <div class="frg-pass">
                    <div style="cursor: pointer" onclick=location.href="{{ url_for('main.open_forgot_password') }}">
                        Forgot Password</div>
                </div>
                <button type="submit" class="user-box btn">Login</button>
                <button type="button" class="user-box btn"
                    onclick=location.href="{{ url_for('main.register') }}">Register</button>
            </form>
        </div>
        <div class="hero_avatar">
            <img src="../static/images/hero_avatar.png">
        </div>
    </div>
</body>

</html>