<!-- This page should server only as a template for the navbar -->
<!-- Inherit the page on all other html pages where the navbar should be implemented -->

<!-- navbar.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="skill_forge_image">
        <img src="../static/images/anvil.png" alt="Skill Forge" width="50px" height="50px" onclick=location.href="{{ url_for('main.main_page') }}">
    </div>

    <a class="navbar-brand" onclick=location.href="{{ url_for('main.main_page') }}">Skill Forge</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="left-side">
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" onclick=location.href="{{ url_for('main.main_page') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" onclick=location.href="{{ url_for('usq.open_user_submit_quest') }}">Submit Quest</a>
                    </li>
                </ul>
            </li>

            <li class="user_pane">
                {% if current_user.user_role == "Admin" %}
                    <div class="nav-link admin-btn" onclick=location.href="{{ url_for('main.open_admin_panel') }}">Admin Panel</div>
                {% endif %}
                <div class="nav-link logout-btn" onclick=location.href="{{ url_for('main.logout') }}">Log Out</div>
                <img class="user_image" src="../static/images/user.png" width="35" height="35" onclick=location.href="{{ url_for('main.open_user_profile') }}">
            </li>  
        </ul>
    </div>
</nav>