<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/anvil.png') }}">
        <title>Skill Forge</title>

        <!-- Import Navigation bar styles -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login_form.css') }}">
    </head>
    
    <body>

        <div class="login-box">
            <div class="user-box">
                <h2 style="font-family: 'JetBrainsMonoBold', sans-serif">Create new account</h2>
            </div>
            
            <div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
                <form method="POST" class="user-box input", action="{{ url_for('main.register') }}">
                    {{ form.csrf_token() }}
                    <div class="user-box" style="font-family: 'JetBrainsMonoBold', sans-serif">{{ form.username.label }} {{ form.username(size=20) }}</div>
                    <div class="user-box" style="font-family: 'JetBrainsMonoBold', sans-serif">{{ form.first_name.label}} {{ form.first_name(size=20) }}</div>
                    <div class="user-box" style="font-family: 'JetBrainsMonoBold', sans-serif">{{ form.last_name.label}} {{ form.last_name(size=20) }}</div>
                    <div class="user-box" style="font-family: 'JetBrainsMonoBold', sans-serif">{{ form.email.label }} {{ form.email(size=20) }}</div>
                    <div class="user-box" style="font-family: 'JetBrainsMonoBold', sans-serif">{{ form.password.label }} {{ form.password(size=20) }}</div>
                    <div class="user-box" style="font-family: 'JetBrainsMonoBold', sans-serif">{{ form.confirm.label }} {{ form.confirm(size=20) }}</div>
                    <div class="user-box" style="font-family: 'JetBrainsMonoBold', sans-serif">
                        <button type="submit" class="btn">Submit</button>
                    </div>
                </form>
            </div>
            <div class="user-box">
                <p style="font-family: 'JetBrainsMonoBold', sans-serif">Already have an account?<br><a href="{{ url_for('main.login') }}" style="color: #03e9f4; font-family: 'JetBrainsMonoBold', sans-serif">Login here</a></p>
            </div>
        </div>
    </body>
</html>