<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/anvil.png') }}">
    <title>Submit New Quest</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user_submit_quest.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
    <!-- Include CodeMirror library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"></script>
    <!-- Include CodeMirror theme (optional) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/dracula.min.css">
    <!-- Include CodeMirror CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.css">
    <!-- Include CodeMirror modes -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/clike/clike.min.js"></script>
    <!-- Include bootstrap dataTables libraries -->
    <script src="{{ url_for('static', filename='js/questsTable.js') }}"></script>
    <!-- JavaScript to toggle visibility of content sections -->
    <script src="{{ url_for('static', filename='js/toggleVisibilitySections.js') }}"></script>
    <!-- JavaScript to toggle visibility of content sections -->
    <script src="{{ url_for('static', filename='js/showContentsSections.js') }}"></script>
    <!-- Track the user status -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/userStatus.js') }}"></script>
</head>

<body>
    <!-- Include Navbar template -->
    {% include 'navbar.html' %}

    <form method="post" action="{{ url_for('usq.user_submit_quest') }}">
        {{ form.hidden_tag() }}
        <div id="addQuestContent" class="content">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="input-row">
                <h4><strong class="row-label">Quest Name: </strong></h4>
                {{ form.quest_name }}
            </div>
            <div class="input-row">
                <h4><strong class="row-label">Quest Language: </strong></h4>
                {{ form.quest_language }}
            </div>
            <div class="input-row">
                <h4><strong class="row-label">Quest Difficulty: </strong></h4>
                {{ form.quest_difficulty }}
            </div>
            <div class="input-row" style="flex-direction: column;">
                <h4><strong class="row-label">Quest Condition: </strong></h4>
                {{ form.quest_condition }}
            </div>
            <div class="input-row" style="flex-direction: column;">
                <h4><strong class="row-label">Example Solution: </strong></h4>
                {{ form.function_template }}
            </div>
            <div class="input-row" style="flex-direction: column;">
                <h4><strong class="row-label">Inputs Samples: </strong></h4>
                <p class="row-label" style="color:aliceblue">Example inputs for the function in format: [first_argument,
                    second_argument....] [first_argument, second_argument....]</p>
                {{ form.quest_inputs }}
            </div>
            <div class="input-row" style="flex-direction: column;">
                <h4><strong class="row-label">Outputs Samples: </strong></h4>
                <p class="row-label" style="color:aliceblue">Expected outputs from the function in the same order as the
                    inputs in format: [output, output...] [output, output...]</p>
                {{ form.quest_outputs }}
            </div>
            <div class="input-row">
                <h4><strong class="row-label">Quest Unit Tests (Only for Abyssal Trials difficulty): </strong></h4>
                {{ form.quest_unitests }}
            </div>
            <div class="btn-row">
                {{ form.submit }}
            </div>
        </div>
    </form>
    <!-- JavaScript script to handle the CodeMirror custom fields. 
        This script should be loaded after the initialization of the fields above! 
    -->
    <script src="{{ url_for('static', filename='js/codeMirrorHandling.js') }}"></script>
</body>
<footer>
    <!-- Include Footer template -->
    {% include 'footer.html' %}
</footer>

</html>