<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/anvil.png') }}">
    <title>Skill Forge - Submit New Quest</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user_submit_quest.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
    <!-- Include CodeMirror library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"></script>
    <!-- Include CodeMirror theme (optional) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/theme/dracula.min.css">
    <!-- Include CodeMirror CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.css">
    <!-- Track the user status -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/websocket.js') }}"></script>
</head>

<body>
    <!-- Include Navbar template -->
    {% include 'navbar.html' %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="description-container flex items-center mr-5 ml-12">
        <div class="description-text text-gray-300">
            <h2 class="text-2xl mb-2 text-cyan-400">Submit a Quest</h2>
            <p class="text-lg mb-2">Got a great idea for a new quest? Share it with our community! Submitting a quest is easy and helps others learn and grow. 
                Once your quest is submited, administrator will review it and will send you a feedback if the quest is being approved or 
                additional changes are required.</p>
            <h2 class="text-2xl mb-2 text-cyan-400">Instructions</h2>
            <li class="text-sm mb-2">Quest Name: Unique and creative name for your quest, but keep in mind that the name should be related to the quest.</li>
            <li class="text-sm mb-2">Quest Language: Choose the programming language for your quest.</li>
            <li class="text-sm mb-2">Quest Difficulty: How difficult is your quest. Choose wisely.</li>
            <li class="text-sm mb-2">Quest Condition: Describe the quest condition in a few sentences. What is the goal of the quest? What is the problem?</li>
            <li class="text-sm mb-2">Example Solution: Provide an example solution of your quest.</li>
            <li class="text-sm mb-2">Inputs Samples: Provide example inputs for the function in format: [input arguments] [ input arguments] separated each on a new line.</li>
            <li class="text-sm mb-2">Outputs Samples: Provide expected outputs from the function in the same order as the inputs in format: [output] [output] separated each on a new line.</li>
        </div>
        <img src="{{ url_for('static', filename='images/quest_submiter_avatar.png') }}" alt="Coding Avatar" class="description-image">
    </div>
    

    <form method="POST" action="{{ url_for('usq.user_submit_quest') }}">
        {{ form.hidden_tag() }}
        <div id="addQuestContent" class="content">
            <div class="input-row">
                <h4><strong class="row-label">Quest Name: </strong></h4>
                {{ form.quest_name(class="text_input") }}
            </div>
            <div class="input-row">
                <h4><strong class="row-label">Quest Language: </strong></h4>
                {{ form.quest_language(class="dropdown_input", id="quest_language_input") }}
            </div>
            <div class="input-row">
                <h4><strong class="row-label">Quest Difficulty: </strong></h4>
                {{ form.quest_difficulty(class="dropdown_input") }}
            </div>
            <div class="input-row" style="flex-direction: column;">
                <h4><strong class="row-label">Quest Condition: </strong></h4>
                {{ form.quest_condition(rows=10, class="text_input") }}
            </div>
            <div class="input-row" style="flex-direction: column;">
                <h4><strong class="row-label">Example Solution: </strong></h4>
                {{ form.function_template(id="template_input") }}
            </div>
            <div class="input-row" style="flex-direction: column;">
                <h4><strong class="row-label">Inputs Samples: </strong></h4>
                <p class="row-label" style="color:aliceblue">Example inputs for the function in format: [first_argument, second_argument....] [first_argument, second_argument....]</p>
                {{ form.quest_inputs(class="text_input", rows=10) }}
            </div>
            <div class="input-row" style="flex-direction: column;">
                <h4><strong class="row-label">Outputs Samples: </strong></h4>
                <p class="row-label" style="color:aliceblue">Expected outputs from the function in the same order as the inputs in format: [output, output...] [output, output...]</p>
                {{ form.quest_outputs(class="text_input", rows=10) }}
            </div>
            <div class="input-row">
                <h4><strong class="row-label">Quest Unit Tests(Not Obligatory): </strong></h4>
                {{ form.quest_unitests(id="unit_tests_input") }}
            </div>
            <div class="button-container">
                {{ form.submit(class="submit-button") }}
            </div>
        </div>
    </form>
    <!-- JavaScript script to handle the CodeMirror custom fields. 
        This script should be loaded after the initialization of the fields above! 
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/clike/clike.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/addon/edit/matchbrackets.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/addon/edit/closebrackets.min.js"></script>
    <script src="{{ url_for('static', filename='js/codeMirrorHandling.js') }}"></script>
</body>
<footer>
    <!-- Include Footer template -->
    {% include 'footer.html' %}
</footer>

</html>