<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/anvil.png') }}">
    <title>Skill Forge</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/table.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user_profile.css') }}">
    <!-- Track the user status -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
    <!-- Webpack build (mostly for tracking the user status on the client side) -->
    <script type="module" src="{{ url_for('static', filename='dist/bundle.js') }}"></script>

</head>

<body>
    <!-- Include Navbar template -->
    {% include 'navbar.html' %}

    <div class="user_info">
        <div class="left_pane">
            <div>
                <div>
                    <img id="avatarPreview" src="{{ user.avatar and 'data:image/jpeg;base64,' + avatar_base64 or url_for('static', filename='images/anvil.png') }}" alt="Avatar" class="user_avatar">
                </div>
            </div>
            <p class="user_name">{{ user.username }}</p>
            <div class="social_links">
                <p class="social_links title">Social Links</p>
                <div class="social_links icons">
                    {% if user.facebook_profile %}
                    <a href="{{ user.facebook_profile }}" target="_blank">
                        <img src="../static/images/facebook.svg" width="20" height="20" alt="Facebook Profile">
                    </a>
                    {% endif %}
                    {% if user.instagram_profile %}
                    <a href="{{ user.instagram_profile }}" target="_blank">
                        <img src="../static/images/instagram.png" width="20" height="20" alt="Instagram">
                    </a>
                    {% endif %}
                    {% if user.github_profile %}
                    <a href="{{ user.github_profile }}" target="_blank">
                        <img src="../static/images/github.png" width="22" height="22" alt="GitHub">
                    </a>
                    {% endif %}
                    {% if user.discord_id %}
                    <a href="https://discord.com/users/{{ user.discord_id }}" target="_blank">
                        <img src="../static/images/discord.svg" width="20" height="20" alt="Discord">
                    </a>
                    {% endif %}
                    {% if user.linked_in %}
                    <a href="{{ user.linked_in }}" target="_blank">
                        <img src="../static/images/linkedin.png" width="20" height="20" alt="LinkedIn">
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="online_status" id="onlineStatusDiv">
                {% if user_status == "Offline" %}
                <p class="online_status title offline">Last seen</p>
                <p class="online_status title offline">{{ last_logged_date.strftime('%d-%m-%Y %H:%M') }}</p>
                {% else %}
                <p class="online_status title">{{ user_status }}</p>
                {% endif %}
            </div>
            <div class="user_level">
                <div class="level_container">
                    <div class="level_info">
                        <p class="left_stats level">Level</p>
                        <p class="right_stats level">{{ user.level }}</p>
                    </div>
                    <div class="level_info">
                        <p class="left_stats level">Rank</p>
                        <p class="right_stats level">{{ user.rank }}</p>
                    </div>
                    <div class="xp_points_container">
                        <p class="left_stats level">XP Points</p>
                        <div class="progress_bar_container">
                            <div class="progress_bar" style="width: {{ xp_percentage }}%; height: 20px;">
                                <p style="color: transparent">{{ xp_percentage }}</p>
                            </div>
                        </div>
                        <p class="right_stats level" style="margin: 0px">{{ user.xp }} / {{ max_xp }} XP</p>
                    </div>
                </div>
            </div>
        </div>
        <div style="display:flex; flex-direction:column;width:100%">
            <!-- User Information Form -->
            <div class="center_pane_form">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <form action="{{ url_for('usr.open_user_profile') }}" method="post" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="center_pane">
                        <h3 class="left_status h3">User Information</h3>
                        <div class="user_stats">
                            <div style="display:flex; flex-direction: row; margin-bottom: 10px; margin-top:5px">
                                <p class="left_stats">User ID:</p>
                                <p class="right_stats">{{ user.user_id }}</p>
                            </div>
                            <div style="display:flex; flex-direction: row; margin-bottom: 10px; margin-top:5px">
                                <p class="left_stats">Username:</p>
                                <p class="right_stats">{{ user.username }}</p>
                            </div>
                            <div style="display:flex; flex-direction: row; margin-bottom: 10px; margin-top:5px">
                                <p class="left_stats">First Name:</p>
                                {{ form.first_name(class="right_stats_edit") }}
                            </div>
                            <div style="display:flex; flex-direction: row; margin-bottom: 10px; margin-top:5px">
                                <p class="left_stats">Last Name:</p>
                                {{ form.last_name(class="right_stats_edit") }}
                            </div>
                            <div style="display:flex; flex-direction: row; margin-bottom: 10px; margin-top:5px">
                                <p class="left_stats">Email:</p>
                                {{ form.email(class="right_stats_edit") }}
                            </div>
                        </div>
                        <div class="user_stats">
                            <div style="display:flex; flex-direction: column;">
                                <div style="display:flex; flex-direction: row; margin-top: 5px">
                                    <p class="left_stats">Facebook:</p>
                                    {{ form.facebook_profile(class="right_stats_edit") }}
                                </div>
                                <div style="display:flex; flex-direction: row;">
                                    <p class="left_stats">Instagram:</p>
                                    {{ form.instagram_profile(class="right_stats_edit") }}
                                </div>
                                <div style="display:flex; flex-direction: row;">
                                    <p class="left_stats">GitHub:</p>
                                    {{ form.github_profile(class="right_stats_edit") }}
                                </div>
                                <div style="display:flex; flex-direction: row;">
                                    <p class="left_stats">Discord ID:</p>
                                    {{ form.discord_id(class="right_stats_edit") }}
                                </div>
                                <div style="display:flex; flex-direction: row;">
                                    <p class="left_stats">LinkedIn:</p>
                                    {{ form.linked_in(class="right_stats_edit") }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-section">
                        {{ form.submit(class="submit-buton") }}
                    </div>
                </form>
            </div>
            
            <!-- Change Avatar Form -->
            <div class="change-avatar-section">
                <!-- <p class="ca-1">Change Avatar</p> -->
                <form action="{{ url_for('usr.open_user_profile') }}" method="post" enctype="multipart/form-data"
                    class="ca-2">
                    {{ form.hidden_tag() }}
                    {{ form.avatar(class="ca-3", onchange='previewAvatar(event)', accept="image/*") }}
                    <input class="ca-4" type="submit" value="Update Avatar" name="update_avatar">
                </form>
            </div>
            <!-- Achievements Section -->
            <div class="center_pane_form">
                <h3 class="left_status h3">Achievements</h3>
                <div class="user_stats">
                    <div class="achv-container">
                        {% for user_achievement in user_achievements %}
                        <div class="achv">
                            <img
                                src="../static/images/achievements-icons/{{ user_achievement.achievement.achievement_picture }}">
                            <div class="achv-descr">
                                <p style="margin-bottom: 0px">{{ user_achievement.achievement.achievement_name }}
                                    <br>{{ user_achievement.achievement.achievement_description }}
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- User stats section -->
            <div class="central_pane">
                <h3 class="left_status h3">User Stats</h3>
                <div class="user_stats">
                    <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                        <p class="left_stats stats">Date Registration:</p>
                        <p class="right_stats stats">{{ user.date_registered.strftime('%d-%m-%Y %H:%M:%S') }}</p>
                    </div>
                    <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                        <p class="left_stats stats">Total Solved Quests:</p>
                        <p class="right_stats stats">{{ user.total_solved_quests}}</p>
                    </div>
                    <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                        <p class="left_stats stats">&emsp;Python:</p>
                        <p class="right_stats stats">{{ user.total_python_quests}}</p>
                    </div>
                    <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                        <p class="left_stats stats">&emsp;Java:</p>
                        <p class="right_stats stats">{{ user.total_java_quests}}</p>
                    </div>
                    <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                        <p class="left_stats stats">&emsp;JavaScript:</p>
                        <p class="right_stats stats">{{ user.total_javascript_quests}}</p>
                    </div>
                    <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                        <p class="left_stats stats">&emsp;C# Quests:</p>
                        <p class="right_stats stats">{{ user.total_csharp_quests}}</p>
                    </div>
                    <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                        <p class="left_stats stats">Total Submited Quests:</p>
                        <p class="right_stats stats">{{ user.total_submited_quests}}</p>
                    </div>
                    <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                        <p class="left_stats stats">&emsp;Approved:</p>
                        <p class="right_stats stats">{{ user.total_approved_submited_quests}}</p>
                    </div>
                    <div style="display:flex; flex-direction: row;margin-bottom: 10px; margin-top:5px">
                        <p class="left_stats stats">&emsp;Rejected:</p>
                        <p class="right_stats stats">{{ user.total_rejected_submited_quests}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- User's Submitted Quests -->
    <div class="container-fluid" style="margin-bottom: 20px">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h3 class="left_status h3" style="font-weight: bold">Your Submitted Quests</h3>
                <div class="card rounded shadow border-0">
                    <div class="card-body p-5 bg-white rounded">
                        <div class="table-responsive">
                            <table id="user_submited_quests" class="table table-striped table-bordered">
                                <thead>
                                    <tr style="font-size: 10px">
                                        <th>Quest ID</th>
                                        <th>Quest Name</th>
                                        <th>Language</th>
                                        <th>Difficulty</th>
                                        <th>Submitted On</th>
                                        <th>Last Modified On</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for submited_quest in user_submited_quests %}
                                    <tr style="font-size: 12px">
                                        <td>{{ submited_quest.quest_id }}</td>
                                        <td><a style="color:#569deb" href="{{ url_for('usq.open_submited_quest_as_user', quest_id=submited_quest.quest_id) }}">{{ submited_quest.quest_name }}</a></td>
                                        <td>{{ submited_quest.language }}</td>
                                        <td>{{ submited_quest.difficulty }}</td>
                                        <td>{{ submited_quest.date_added.strftime('%Y-%m-%d %H:%M') }}</td>
                                        <td>{{ submited_quest.last_modified.strftime('%Y-%m-%d %H:%M') }}</td>
                                        <td class="labels {{ submited_quest.status }}">{{ submited_quest.status}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- User's Solved Quests table -->
    <div class="container-fluid" style="margin-bottom: 20px">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <h3 class="left_status h3" style="font-weight: bold">Your Submitted Solutions</h3>
                <div class="card rounded shadow border-0">
                    <div class="card-body p-5 bg-white rounded">
                        <div class="table-responsive">
                            <table id="user_solved_quests" class="table table-striped table-bordered">
                                <thead>
                                    <tr style="font-size: 10px">
                                        <th>Sumbission ID</th>
                                        <th>Quest ID</th>
                                        <th>Quest Name</th>
                                        <th>Language</th>
                                        <th>Difficulty</th>
                                        <th>Submitted On</th>
                                        <th style="width: 20px">Succesful Tests</th>
                                        <th style="width: 20px">Unsuccesful Tests</th>
                                        <th style="width: 20px">Quest Passed</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for solved_quest in user_solved_quests %}
                                    <tr style="font-size: 12px">
                                        <td><a style="color:#569deb"
                                                href="{{ url_for('uss.open_view_solution', solution_id=solved_quest.submission_id) }}">{{
                                                solved_quest.submission_id }}</a></td>
                                        <td>{{ solved_quest.quest_id }}</td>
                                        <td><a style="color:#569deb"
                                                href="{{ url_for('quests.open_curr_quest', quest_id=solved_quest.coding_quest.quest_id) }}">{{
                                                solved_quest.coding_quest.quest_name }}</a></td>
                                        <td>{{ solved_quest.coding_quest.language }}</td>
                                        <td>{{ solved_quest.coding_quest.difficulty }}</td>
                                        <td>{{ solved_quest.submission_date.strftime('%Y-%m-%d %H:%M') }}</td>
                                        <td>{{ solved_quest.successful_tests }}</td>
                                        <td>{{ solved_quest.unsuccessful_tests }}</td>
                                        <td>
                                            {% if solved_quest.quest_passed %}
                                            <img src="{{ url_for('static', filename='images/checked.png') }}"
                                                alt="Passed" width="20" height="20">
                                            {% else %}
                                            <img src="{{ url_for('static', filename='images/unchecked.png') }}"
                                                alt="Failed" width="20" height="20">
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
    <!-- JavaScript managing the content in the Bootstrap table -->
    <script src="{{ url_for('static', filename='js/questsTable.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script>
        function previewAvatar(event) {
            const avatarPreview = document.getElementById('avatarPreview');
            const file = event.target.files[0];
    
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    avatarPreview.src = e.target.result;
                }
                reader.readAsDataURL(file);
            }
        }
    </script>
</body>

<footer>
    <!-- Include Footer template -->
    {% include 'footer.html' %}
</footer>

</html>